<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="UX Team 2">
    <meta name="description" content="A great way to describe your documentation tool">
    <title>Boom Yeah | User Documentation Page</title>
    <link rel="shortcut icon" href="../../assets/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../assets/css/global.css">
    <link rel="stylesheet" href="../../assets/css/user_documentation.css">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="../../assets/js/vendor/html_loader.lib.js"></script>
    <script src="../../assets/js/vendor/ux.lib.js"></script>
</head>
<body>
    <div id="main_navigation"></div>
    <div class="user">
        <div id="user_doc" class="container">
            <button id="docs_view_btn" class="dropdown-trigger" data-target="docs_view_list">Documentations</button>
            <div id="documentations">
                <div class="document_block">
                    <div class="document_details">
                        <h2>Employee Handbook</h2>
                        <button class="invite_collaborators_btn"> 15</button>
                    </div>
                    <div class="document_controls"><button class="access_btn"></button></div>
                </div>
                <div class="document_block">
                    <div class="document_details">
                        <h2>Company Handout</h2>
                        <button class="invite_collaborators_btn"> 1</button>
                    </div>
                    <div class="document_controls"><button class="access_btn"></button></div>
                </div>
                <div class="document_block">
                    <div class="document_details">
                        <h2>Accounting</h2>
                    </div>
                </div>
                <div class="document_block">
                    <div class="document_details">
                        <h2>Marketing</h2>
                    </div>
                </div>
                <div class="document_block">
                    <div class="document_details">
                        <h2>Engineering</h2>
                        <button class="invite_collaborators_btn"> 6</button>
                    </div>
                    <div class="document_controls"><button class="access_btn"></button></div>
                </div>
                <div class="document_block">
                    <div class="document_details">
                        <h2>Product Team</h2>
                        <button class="invite_collaborators_btn"> 9</button>
                    </div>
                    <div class="document_controls"><button class="access_btn"></button></div>
                </div>
                <div class="document_block">
                    <div class="document_details">
                        <h2>UI/UX</h2>
                        <button class="invite_collaborators_btn"> 9</button>
                    </div>
                    <div class="document_controls"><button class="access_btn"></button></div>
                </div>
                <div class="document_block">
                    <div class="document_details">
                        <h2>Admissions</h2>
                        <button class="invite_collaborators_btn"> 9</button>
                    </div>
                    <div class="document_controls"><button class="access_btn"></button></div>
                </div>
                <div class="document_block">
                    <div class="document_details">
                        <h2>Trainee</h2>
                    </div>
                </div>
                <div class="document_block">
                    <div class="document_details">
                        <h2>Instructors</h2>
                    </div>
                </div>
                <div class="document_block">
                    <div class="document_details">
                        <h2>Business Leads</h2>
                        <button class="invite_collaborators_btn"> 10</button>
                    </div>
                    <div class="document_controls"><button class="access_btn"></button></div>
                </div>
                <div class="document_block">
                    <div class="document_details">
                        <h2>Team Building 2020</h2>
                    </div>
                </div>
                <div class="document_block">
                    <div class="document_details">
                        <h2>V88 Core Team</h2>
                        <button class="invite_collaborators_btn"> 14</button>
                    </div>
                    <div class="document_controls"><button class="access_btn"></button></div>
                </div>
                <div class="document_block">
                    <div class="document_details">
                        <h2>Meals</h2>
                    </div>
                </div>
                <div class="document_block">
                    <div class="document_details">
                        <h2>Datacompass Mini Team Building</h2>
                    </div>
                </div>
                <div class="document_block">
                    <div class="document_details">
                        <h2>Thunders</h2>
                    </div>
                </div>
                <div class="document_block">
                    <div class="document_details">
                        <h2>Juniors</h2>
                    </div>
                </div>
                <div class="document_block">
                    <div class="document_details">
                        <h2>V88 Ladies</h2>
                        <button class="invite_collaborators_btn"> 30</button>
                    </div>
                    <div class="document_controls"><button class="access_btn"></button></div>
                </div>
                <div class="document_block">
                    <div class="document_details">
                        <h2>Policies and Rules</h2>
                    </div>
                </div>
                <div class="document_block">
                    <div class="document_details">
                        <h2>Money Management</h2>
                    </div>
                </div>
                <div class="document_block">
                    <div class="document_details">
                        <h2>HR 101</h2>
                        <button class="invite_collaborators_btn"> 3</button>
                    </div>
                    <div class="document_controls"><button class="access_btn"></button></div>
                </div>
                <div class="document_block">
                    <div class="document_details">
                        <h2>Government</h2>
                        <button class="invite_collaborators_btn"> 20</button>
                    </div>
                    <div class="document_controls"><button class="access_btn"></button></div>
                </div>
                <div class="document_block">
                    <div class="document_details">
                        <h2>Real Estate And Investments</h2>
                    </div>
                </div>
                <div class="document_block">
                    <div class="document_details">
                        <h2>Being a Good Employee and As a Person</h2>
                    </div>
                </div>
                <div class="document_block">
                    <div class="document_details">
                        <h2>UX 201</h2>
                    </div>
                </div>
                <div class="document_block">
                    <div class="document_details">
                        <h2>Village 88 Secrets</h2>
                        <button class="invite_collaborators_btn"> 30</button>
                    </div>
                    <div class="document_controls"><button class="access_btn"></button></div>
                </div>
                <div class="document_block">
                    <div class="document_details">
                        <h2>Jokes and Funny Memories</h2>
                    </div>
                </div>
                <div class="document_block">
                    <div class="document_details">
                        <h2>Learn Platform Team 5 Mini Team Building</h2>
                    </div>
                </div>
                <div class="document_block">
                    <div class="document_details">
                        <h2>V88 Babies</h2>
                        <button class="invite_collaborators_btn"> 13</button>
                    </div>
                    <div class="document_controls"><button class="access_btn"></button></div>
                </div>
                <div class="document_block">
                    <div class="document_details">
                        <h2>How to connect your thoughts</h2>
                    </div>
                </div>
                <div class="document_block">
                    <div class="document_details">
                        <h2>The future of Village 88</h2>
                    </div>
                </div>
                <div class="document_block">
                    <div class="document_details">
                        <h2>Village 88 All Team Buildings</h2>
                    </div>
                </div>
                <div class="document_block">
                    <div class="document_details">
                        <h2>Data Compass Tech Guide</h2>
                        <button class="invite_collaborators_btn"> 13</button>
                    </div>
                    <div class="document_controls"><button class="access_btn"></button></div>
                </div>
                <div class="document_block">
                    <div class="document_details">
                        <h2>Learn Platform Tech Guide</h2>
                        <button class="invite_collaborators_btn"> 31</button>
                    </div>
                    <div class="document_controls"><button class="access_btn"></button></div>
                </div>
                <div class="document_block">
                    <div class="document_details">
                        <h2>Business Management</h2>
                        <button class="invite_collaborators_btn"> 11</button>
                    </div>
                    <div class="document_controls"><button class="access_btn"></button></div>
                </div>
                <div class="document_block">
                    <div class="document_details">
                        <h2>Focus Tracker Guide</h2>
                    </div>
                </div>
                <div class="document_block">
                    <div class="document_details">
                        <h2>Comprehensive Javascript Guide</h2>
                    </div>
                </div>
                <div class="document_block">
                    <div class="document_details">
                        <h2>Ruby On Rails Tips and Tricks</h2>
                    </div>
                </div>
                <div class="document_block">
                    <div class="document_details">
                        <h2>Database Tutorials</h2>
                    </div>
                </div>
                <div class="document_block">
                    <div class="document_details">
                        <h2>Server Stuffs</h2>
                        <button class="invite_collaborators_btn"> 4</button>
                    </div>
                    <div class="document_controls"><button class="access_btn"></button></div>
                </div>
                <div class="document_block">
                    <div class="document_details">
                        <h2>DevOps</h2>
                        <button class="invite_collaborators_btn"> 5</button>
                    </div>
                    <div class="document_controls"><button class="access_btn"></button></div>
                </div>
                <div class="document_block">
                    <div class="document_details">
                        <h2>How to manage your time and have self discipline</h2>
                    </div>
                </div>
                <div class="document_block">
                    <div class="document_details">
                        <h2>V88 FAQs</h2>
                    </div>
                </div>
                <div class="document_block">
                    <div class="document_details">
                        <h2>Meals And Foods</h2>
                    </div>
                </div>
                <div class="document_block">
                    <div class="document_details">
                        <h2>Culture and Goals</h2>
                    </div>
                </div>
                <div class="document_block">
                    <div class="document_details">
                        <h2>2022</h2>
                    </div>
                </div>
                <div class="document_block">
                    <div class="document_details">
                        <h2>Christmas Party Games and Preparations</h2>
                    </div>
                </div>
                <div class="document_block">
                    <div class="document_details">
                        <h2>How to Invest in Businesses</h2>
                        <button class="invite_collaborators_btn"> 10</button>
                    </div>
                    <div class="document_controls"><button class="access_btn"></button></div>
                </div>
                <div class="document_block">
                    <div class="document_details">
                        <h2>Car Show</h2>
                    </div>
                </div>
                <div class="document_block">
                    <div class="document_details">
                        <h2>V88 Goes to Thailand</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--JavaScript at end of body for optimized loading-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="module" src="../../assets/js/hotkeys.js"></script>
    <script type="module" src="../../assets/js/user_documentation.js"></script>
</body>
</html>