<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="UX Team 2">
    <meta name="description" content="A great way to describe your documentation tool">
    <title>Boom Yeah | Admin Edit Documentation Page</title>
    <link rel="shortcut icon" href="../../assets/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../assets/css/global.css">
    <link rel="stylesheet" href="../../assets/css/user_view_documentation.css">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="../../assets/js/vendor/html_loader.lib.js"></script>
    <script src="../../assets/js/vendor/ux.lib.js"></script>
</head>
<body>
    <!--- Add #main_navigation --->
    <div id="main_navigation"></div>
    <div id="wrapper">
        <div class="container">
            <ul id="breadcrumb_list">
                <li class="breadcrumb_item">Documentation</li>
                <li class="breadcrumb_item active">Employee Handbook</li>
            </ul>
            <div class="divider"></div>
            <div id="doc_title_access">
                <h1 id="doc_title">Employee Handbook</h1>
            </div>
            <p class="doc_text_content">This handbook replaces and supersedes all prior employee handbooks regarding employment or HR matters effective January 01, 2021. </p>
            <h2>Sections</h2>
            <div class="section_container" id="section_container">
                <div class="section_block">
                    <div class="section_details">
                        <input type="text" name="section_title" value="About Company" id="" class="section_title" readonly="">
                    </div>
                    <div class="section_controls">
                    <span>11 Tabs</span>
                    </div>
                </div>
                <div class="section_block">
                    <div class="section_details">
                        <input type="text" name="section_title" value="Terms of Employment" id="" class="section_title" readonly="">
                    </div>
                    <div class="section_controls">
                    <span>20 Tabs</span>
                    </div>
                </div>
                <div class="section_block">
                    <div class="section_details">
                        <input type="text" name="section_title" value="General Policies &amp; Procedures" id="" class="section_title" readonly="">
                    </div>
                    <div class="section_controls">
                    <span>19 Tabs</span>
                    </div>
                </div>
                <div class="section_block">
                    <div class="section_details">
                        <input type="text" name="section_title" value="Compensation &amp; Benefits" id="" class="section_title" readonly="">
                    </div>
                    <div class="section_controls">
                    <span>18 Tabs</span>
                    </div>
                </div>
                <div class="section_block">
                    <div class="section_details">
                        <input type="text" name="section_title" value="Career &amp; Personnel Development" id="" class="section_title" readonly="">
                    </div>
                    <div class="section_controls">
                    <span>15 Tabs</span>
                    </div>
                </div>
                <div class="section_block">
                    <div class="section_details">
                        <input type="text" name="section_title" value="2023 Unlimited PTO" id="" class="section_title" readonly="">
                    </div>
                    <div class="section_controls">
                    <span>6 Tabs</span>
                    </div>
                </div>
                <div class="section_block">
                    <div class="section_details">
                        <input type="text" name="section_title" value="V88 Cultures" id="" class="section_title" readonly="">
                    </div>
                    <div class="section_controls">
                    <span>19 Tabs</span>
                    </div>
                </div>
                <div class="section_block">
                    <div class="section_details">
                        <input type="text" name="section_title" value="Importance of Going Extra Miles" id="" class="section_title" readonly="">
                    </div>
                    <div class="section_controls">
                    <span>17 Tabs</span>
                    </div>
                </div>
                <div class="section_block">
                    <div class="section_details">
                        <input type="text" name="section_title" value="Team Buildings" id="" class="section_title" readonly="">
                    </div>
                    <div class="section_controls">
                    <span>7 Tabs</span>
                    </div>
                </div>
                <div class="section_block">
                    <div class="section_details">
                        <input type="text" name="section_title" value="Incentive International Trips" id="" class="section_title" readonly="">
                    </div>
                    <div class="section_controls">
                    <span>10 Tabs</span>
                    </div>
                </div>
                <div class="section_block">
                    <div class="section_details">
                        <input type="text" name="section_title" value="Loyalty Points" id="" class="section_title" readonly="">
                    </div>
                    <div class="section_controls">
                    <span>10 Tabs</span>
                    </div>
                </div>
                <div class="section_block">
                    <div class="section_details">
                        <input type="text" name="section_title" value="Slicing Pie" id="" class="section_title" readonly="">
                    </div>
                    <div class="section_controls">
                    <span>18 Tabs</span>
                    </div>
                </div>
                <div class="section_block">
                    <div class="section_details">
                        <input type="text" name="section_title" value="Coding Dojo Sale" id="" class="section_title" readonly="">
                    </div>
                    <div class="section_controls">
                    <span>2 Tabs</span>
                    </div>
                </div>
                <div class="section_block">
                    <div class="section_details">
                        <input type="text" name="section_title" value="Village 88 2.0" id="" class="section_title" readonly="">
                    </div>
                    <div class="section_controls">
                    <span>19 Tabs</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--JavaScript at end of body for optimized loading-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="module" src="../../assets/js/admin_edit_documentation.js"></script>
    <script>
        include("#main_navigation", "../global/user_navigation.html", "../../assets/js/main_navigation.js");
    </script>
</body>
</html> 