<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Company - Employee Handbook | BoomYEAH</title>
    <link rel="shortcut icon" href="../../assets/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="../assets/css/admin_edit_section.css">
    <link rel="stylesheet" href="../assets/css/vendor/redactorx.min.css">
    <script src="../assets/js/vendor/html_loader.lib.js"></script>
    <script src="../assets/js/vendor/ux.lib.js"></script>
    <script src="../assets/js/vendor/Sortable.min.js"></script>
</head>
<body>
    <div id="main_navigation"></div>
    <div id="wrapper" class="container">
        <div id="edit_section_content">
            <form action="#" method="POST" id="edit_section_form">
                <div id="section_summary">
                    <div class="breadcrumbs">
                        <ul id="breadcrumbs_list">
                            <li class="breadcrumb_item"><a href="admin_documentation.html">Documentations</a></li class="breadcrumb_item">
                            <li class="breadcrumb_item"><a href="admin_edit_documentation.html">Employee Handbook</a></li class="breadcrumb_item">
                            <li class="breadcrumb_item active"><span>About Company</span></li>
                        </ul>
                        <div class="row_placeholder"></div>
                        <a href="" id="preview_section_btn">Preview</a>
                    </div>
                    <div class="section_details">
                        <h1 id="section_title">About Company</h1>
                        <textarea name="section_short_description" id="section_short_description">Village 88 Inc. is a US-Delaware corporation which focuses on incubating companies and providing IT consultancy services to companies in the US. V88 also has a remote branch in San Fernando, La Union, Philippines registered in Securities and Exchange Commission as 457Avenue Inc.</textarea>
                    </div>
                </div>
                <div id="section_pages">
                    <div class="section_page_content">
                        <ul class="section_page_tabs">
                            <li class="page_tab_item active" data-tab_id="tab_1">
                                <a href="#tab_1">Our Mission &amp; Vision</a>
                                <button type="button" class="remove_tab_btn">&times;</button>
                            </li>
                            <li class="page_tab_item" data-tab_id="tab_2">
                                <a href="#tab_2">Corporate Responsibility</a>
                                <button type="button" class="remove_tab_btn">&times;</button>
                            </li>
                            <li class="page_tab_item" data-tab_id="tab_3">
                                <a href="#tab_3">Untitled Page</a>
                                <button type="button" class="remove_tab_btn">&times;</button>
                            </li>
                            <li class="add_page_tab">
                                <button class="add_page_btn" type="button">+</button>
                            </li>
                        </ul>
                        <div class="section_page_tab show" id="tab_1">
                            <input type="text" class="tab_title" value="Our Mission &amp; Vision">
                            <textarea id="tab_content_1" class="tab_content">This is a description</textarea>
                            <div class="tab_footer">
                                <label for="allow_comments_tab_1" class="checkbox_label">
                                    <input type="checkbox" id="allow_comments_tab_1" name="allow_comments">
                                    <div class="checkbox_marker"></div>
                                    <span class="checkbox_text">Allow Comments</span>
                                </label>
                                <div class="row_placeholder"></div>
                                <div class="saving_indicator">Saving...</div>
                            </div>
                        </div>
                        <div class="section_page_tab" id="tab_2">
                            <input type="text"  class="tab_title" value="Corporate Responsibility">
                            <textarea class="tab_content">This is a description</textarea>
                            <div class="tab_footer">
                                <label for="allow_comments_tab_2" class="checkbox_label">
                                    <input type="checkbox" id="allow_comments_tab_2" name="allow_comments">
                                    <div class="checkbox_marker"></div>
                                    <span class="checkbox_text">Allow Comments</span>
                                </label>
                                <div class="row_placeholder"></div>
                                <div class="saving_indicator">Saving...</div>
                            </div>
                        </div>
                        <div class="section_page_tab" id="tab_3">
                            <input type="text" class="tab_title" value="Untitled Page">
                            <textarea class="tab_content">This is a description</textarea>
                            <div class="tab_footer">
                                <label for="allow_comments_tab_3" class="checkbox_label">
                                    <input type="checkbox" id="allow_comments_tab_3" name="allow_comments">
                                    <div class="checkbox_marker"></div>
                                    <span class="checkbox_text">Allow Comments</span>
                                </label>
                                <div class="row_placeholder"></div>
                                <div class="saving_indicator">Saving...</div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <button id="add_page_tabs_btn" type="button">+ Add New</button>
            <div id="clone_section_page">
                <div class="section_page_content">
                    <ul class="section_page_tabs">
                        <li class="page_tab_item">
                            <a href="#tab_">Untitled Tab</a>
                            <button type="button" class="remove_tab_btn">&times;</button>
                        </li>
                        <li class="add_page_tab">
                            <button class="add_page_btn">+</button>
                        </li>
                    </ul>
                    <div class="section_page_tab">
                        <input type="text" class="tab_title" value="Untitled Tab">
                        <textarea class="tab_content">This is a description</textarea>
                        <div class="tab_footer">
                            <label for="allow_comments_" class="checkbox_label">
                                <input type="checkbox" id="allow_comments_" name="allow_comments">
                                <div class="checkbox_marker"></div>
                                <span class="checkbox_text">Allow Comments</span>
                            </label>
                            <div class="row_placeholder"></div>
                            <div class="saving_indicator">Saving...</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../assets/js/vendor/redactorx.min.js"></script>
    <script src="../assets/js/custom/admin_edit_section_fe.js"></script>
</body>
</html>