<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="UX Team 2">
    <meta name="description" content="A great way to describe your documentation tool">
    <title>Boom Yeah | Access Page</title>
    <link rel="shortcut icon" href="web_frontend/assets/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="web_frontend/assets/global.css">
    <link rel="stylesheet" href="web_frontend/assets/css/index.css">
</head>
<body>
    <div class="link_container">
        <h1>Default view</h1>
        <h2>Admin</h2>
        <ul>
            <li><a href="web_frontend/views/default_data/admin_documentation.html">Documentations Page</a></li>
            <li><a href="web_frontend/views/default_data/admin_edit_documentation.html">Edit Document Page</a></li>
            <li><a href="web_frontend/views/default_data/admin_edit_section.html">Edit Section Page</a></li>
        </ul>
        <h2>User</h2>
        <ul>
            <li><a href="web_frontend/views/default_data/user_documentation.html">Documentations Page</a></li>
            <li><a href="web_frontend/views/default_data/user_view_documentation.html">View Document Page</a></li>
            <li><a href="web_frontend/views/default_data/user_view_section.html">View Section Page</a></li>
        </ul>
    </div>
    <div class="link_container">
        <h1>No data view</h1>
        <h2>Admin</h2>
        <ul>
            <li><a href="web_frontend/views/no_data/admin_documentation.html">Documentations Page</a></li>
            <li><a href="web_frontend/views/no_data/admin_edit_documentation.html">Edit Document Page</a></li>
            <li><a href="web_frontend/views/no_data/admin_edit_section.html">Edit Section Page</a></li>
        </ul>
        <h2>User</h2>
        <ul>
            <li><a href="web_frontend/views/no_data/user_documentation.html">Documentations Page</a></li>
            <li><a href="web_frontend/views/no_data/user_view_documentation.html">View Document Page</a></li>
            <li><a href="web_frontend/views/no_data/user_view_section.html">View Section Page</a></li>
        </ul>
    </div>
    <div class="link_container">
        <h1>Small data view</h1>
        <h2>Admin</h2>
        <ul>
            <li><a href="web_frontend/views/small_data/admin_documentation.html">Documentations Page</a></li>
            <li><a href="web_frontend/views/small_data/admin_edit_documentation.html">Edit Document Page</a></li>
            <li><a href="web_frontend/views/small_data/admin_edit_section.html">Edit Section Page</a></li>
        </ul>
        <h2>User</h2>
        <ul>
            <li><a href="web_frontend/views/small_data/user_documentation.html">Documentations Page</a></li>
            <li><a href="web_frontend/views/small_data/user_view_documentation.html">View Document Page</a></li>
            <li><a href="web_frontend/views/small_data/user_view_section.html">View Section Page</a></li>
        </ul>
    </div>
    <div class="link_container">
        <h1>Medium data view</h1>
        <h2>Admin</h2>
        <ul>
            <li><a href="web_frontend/views/medium_data/admin_documentation.html">Documentations Page</a></li>
            <li><a href="web_frontend/views/medium_data/admin_edit_documentation.html">Edit Document Page</a></li>
            <li><a href="web_frontend/views/medium_data/admin_edit_section.html">Edit Section Page</a></li>
        </ul>
        <h2>User</h2>
        <ul>
            <li><a href="web_frontend/views/medium_data/user_documentation.html">Documentations Page</a></li>
            <li><a href="web_frontend/views/medium_data/user_view_documentation.html">View Document Page</a></li>
            <li><a href="web_frontend/views/medium_data/user_view_section.html">View Section Page</a></li>
        </ul>
    </div>
    </div>
    <div class="link_container">
        <h1>Large data view</h1>
        <h2>Admin</h2>
        <ul>
            <li><a href="web_frontend/views/large_data/admin_documentation.html">Documentations Page</a></li>
            <li><a href="web_frontend/views/large_data/admin_edit_documentation.html">Edit Document Page</a></li>
            <li><a href="web_frontend/views/large_data/admin_edit_section.html">Edit Section Page</a></li>
        </ul>
        <h2>User</h2>
        <ul>
            <li><a href="web_frontend/views/large_data/user_documentation.html">Documentations Page</a></li>
            <li><a href="web_frontend/views/large_data/user_view_documentation.html">View Document Page</a></li>
            <li><a href="web_frontend/views/large_data/user_view_section.html">View Section Page</a></li>
        </ul>
    </div>
    
    <script src="web_frontend/assets/js/index.js"></script>
</body>
</html>