<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Company - Employee Handbook | BoomYEAH</title>
    <link rel="shortcut icon" href="../../assets/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="../assets/css/user_view_section.css">
    <script src="../assets/js/vendor/html_loader.lib.js"></script>
    <script src="../assets/js/vendor/ux.lib.js"></script>
    <script src="../assets/js/vendor/Sortable.min.js"></script>
</head>
<body>
    <div id="main_navigation"></div>
    <div id="wrapper" class="container">
        <div id="view_section_content">
            <div id="section_summary">
                <div class="breadcrumbs">
                    <ul id="breadcrumbs_list">
                        <li class="breadcrumb_item"><a href="admin_documentation.html">Documentations</a></li class="breadcrumb_item">
                        <li class="breadcrumb_item"><a href="admin_edit_documentation.html">Employee Handbook</a></li class="breadcrumb_item">
                        <li class="breadcrumb_item active"><span>About Company</span></li>
                    </ul>
                    <div class="row_placeholder"></div>
                </div>
                <div class="section_details">
                    <h1 id="section_title">About Company</h1>
                    <p id="section_short_description">Village 88 Inc. is a US-Delaware corporation which focuses on incubating companies and providing IT consultancy services to companies in the US. V88 also has a remote branch in San Fernando, La Union, Philippines registered in Securities and Exchange Commission as 457Avenue Inc.</p>
                </div>
            </div>
            <div id="section_pages">
                <div class="section_page_content">
                    <ul class="section_page_tabs">
                        <li class="page_tab_item active" data-tab_id="tab_1">
                            <a href="#tab_1">Our Mission &amp; Vision</a>
                        </li>
                        <li class="page_tab_item" data-tab_id="tab_2">
                            <a href="#tab_2">Corporate Responsibility</a>
                        </li>
                        <li class="page_tab_item" data-tab_id="tab_3">
                            <a href="#tab_3">Corporate Opportunities</a>
                        </li>
                    </ul>
                    <div class="section_page_tab show" id="tab_1">
                        <h3 class="tab_title">Our Mission &amp; Vision</h3>
                        <p id="tab_content_1" class="tab_content">Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.</p>
                        <div class="tab_comments comment_container">
                            <form action="/" method="POST" class="add_comment_form">
                                <div class="comment_field">
                                    <div class="comment_message_content input-field col s12">
                                        <label for="post_comment">Write a comment</label>
                                        <textarea name="post_comment" id="post_comment" class="materialize-textarea comment_message"></textarea>
                                    </div>
                                </div>
                            </form>
                            <ul class="comments_list">
                                <li id="user_view_comments"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="section_page_tab" id="tab_2">
                        <h3 class="tab_title">Corporate Responsibility</h3>
                        <p class="tab_content">Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.</p>
                    </div>
                    <div class="section_page_tab" id="tab_3">
                        <h3 class="tab_title">Corporate Opportunities</h3>
                        <p class="tab_content">Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line.</p>
                    </div>
                </div>
            </div>
            <div id="clone_section_page">
                <ul id="comments_list_clone">
                    <li class="comment_item comment_container">
                        <div class="comment_content">
                            <img src="../assets/images/jhaver.png" alt="Jhaver" class="user_image"/>
                            <div class="comment_details">
                                <h4 class="commenter_name">
                                    <span class="user_name">Ben T. Lador</span><span class="posted_at">• a few seconds ago</span><!--
                                    --><div class="comment_actions">
                                        <button type="button" class="comment_actions_toggle"></button>
                                        <div class="comment_actions_menu">
                                            <button type="button" class="comment_action_btn edit_btn">Edit</button>
                                            <button type="button" class="comment_action_btn remove_btn">Remove</button>
                                        </div>
                                    </div>
                                </h4>
                                <p class="comment_message"></p>
                            </div>
                        </div>
                        <ul class="replies_list comments_list"></ul>
                        <form action="/" method="POST" class="add_reply_form add_comment_form">
                            <div class="comment_details">
                                <img src="../assets/images/jhaver.png" alt="Jhaver" class="user_image"/>
                                <div class="comment_field">
                                    <div class="comment_message_content input-field col s12">
                                        <label for="post_comment_">Write a reply</label>
                                        <textarea name="post_comment_" id="post_comment" class="materialize-textarea comment_message"></textarea>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </li>
                </ul>
                
            </div>
        </div>
    </div>
    <script src="../assets/js/vendor/redactorx.min.js"></script>
    <script src="../assets/js/constants.js"></script>
    <script type="text/javascript" src="../assets/js/hotkeys.js"></script>
    <script src="../assets/js/custom/admin_edit_section_fe.js"></script>
    <script src="../assets/js/custom/section_comments_fe.js"></script>
</body>
</html>