@import url(./global.less);

.container{
    background-color: @by_white;
    border-radius: 12px;
    margin: 24px auto 0 !important;
    padding: 64px 24px 32px;
    width: 1024px;
    #doc_form{
        align-items: center;
        display: flex;
        margin-bottom: 48px;
        .group_add_documentation{
            background-color: @by_bg;
            border-radius: 8px;
            height: 56px;
            margin: 0;
            position: relative;
            width: 316px;
            &::before{
                background: url('https://village88.s3.us-east-1.amazonaws.com/boomyeah_v2/admin_docs_sprite.svg') no-repeat -12px -4px;
                content: "";
                display: inline-block;
                height: 18px;
                position: absolute;
                right: 12px;
                top: 22px;
                width: 18px;
                z-index: 1;
            }
            &::after {
                background-color: @by_bg;
                content: '';
                display: inline-block;
                height: 2px;
                position: absolute;
                top: 52px;
                width: 100%;
            }
            label{
                color: @by_gray;
                font: 16px/35px @readex_regular;
                padding-left: 12px;
                
            }
            input {
                padding-left: 11px;
                border-radius: 4px;
                bottom: 0;
                color: @by_black;
                font: 16px/24px @readex_regular;
                height: 43px;
                position: absolute;
                width: 100%;
            }

            input:-internal-autofill-selected {
                background-color: @by_bg;
            }

            input.valid,
            input.validate {
                background-color: @by_bg;
                border-bottom: 2px solid @by_primary;
                box-shadow: 0 1px 0 0 @by_primary;
            }
            label.active{
                color: @by_primary;
                line-height: 16px;
                transform: translateY(6px) scale(0.8);
            }
        }
        #input_add_documentation{
            margin-bottom: 0;
            width: 304px;
        }
        #save_status{
            color: @by_off_gray;
            font: 14px/20px @readex_medium;
            margin-left: 21px;
            vertical-align: super;
            
        }
    }
    #docs_view_btn {
        background-color: transparent;
        border: none;
        color: @by_black;
        font: 20px/24px @readex_regular;
        margin-bottom: 26px;
        &::after{
            background: url('https://village88.s3.us-east-1.amazonaws.com/boomyeah_v2/admin_docs_sprite.svg') no-repeat 0 -15px;
            content: '';
            display: inline-block;
            height: 7px;
            margin-left: 13px;
            vertical-align: middle;
            width: 10px;
        }
    }
    #docs_view_list{
        border-radius: 4px;
        width: 209px;
        .divider {
            background-color: @by_bg;
        }
        li:hover {
            background-color: @by_hovered_btn;
        }
        a {
            color: @by_black;
            font: 16px/24px @readex_medium;
        }
    }
    #documentations{
        display: flex;
        gap: 14px;
        .document_block{
            align-items: center;
            background-color: @by_bg;
            border-radius: 8px;
            border: 1px solid transparent;
            cursor: pointer;
            display: flex;
            height: 83px;
            justify-content: space-between;
            padding: 20px 23px 20px 16px;
            transition: all 0.21s ease-in-out;
            width: 316px;
            .document_details{
                h2 {
                    color: @by_black;
                    font: 12px/16px @readex_regular;
                    margin: 0;
                }
                .invite_collaborators_btn {
                    background-color: transparent;
                    border-radius: 20px;
                    border: 1px solid @by_primary;
                    color: @by_primary;
                    cursor: pointer;
                    font: 12px/16px @readex_regular;
                    height: 24px;
                    width: 49px;
                    &::before {
                        background: url('https://village88.s3.us-east-1.amazonaws.com/boomyeah_v2/admin_docs_sprite.svg') no-repeat -32px -13px;
                        content: '';
                        display: inline-block;
                        height: 8.67px;
                        width: 16px;
                    }
                }
            }
            .document_controls{
                align-items: center;
                display: flex;
                font-size: 0;
                .access_btn{
                    background: url('https://village88.s3.us-east-1.amazonaws.com/boomyeah_v2/admin_docs_sprite.svg') no-repeat -50px -5px;
                    border: 0;
                    content: '';
                    cursor: pointer;
                    display: inline-block;
                    height: 18px;
                    margin-right: 18px;
                    width: 14px;
                }
                .more_action_btn{
                    background: url('https://village88.s3.us-east-1.amazonaws.com/boomyeah_v2/admin_docs_sprite.svg') no-repeat -65px -9px;
                    border: 0;
                    color: transparent;
                    content: '';
                    cursor: pointer;
                    display: inline-block;
                    height: 14px;
                    padding: 2px;
                    width: 4px;
                }
                #more_action_list_public,
                #more_action_list_private{
                    border-radius: 4px;
                    width: 192px !important;
                    .divider{
                        background-color: @by_bg;
                    }
                    li:hover{
                        background-color: @by_hovered_btn;
                    }
                    a{
                        color: @by_icon;
                        font: 16px/24px @readex_regular;
                        &::before{
                            background: url('https://village88.s3.us-east-1.amazonaws.com/boomyeah_v2/admin_docs_sprite.svg') no-repeat;
                            content: "";
                            display: inline-block;
                            height: 18px;
                            margin-right: 16px;
                            position: relative;
                            vertical-align: text-bottom;
                            width: 18px;
                        }
                        &.edit_title_icon::before {
                            background-position: -70px -4px;
                        }
                        &.duplicate_icon::before {
                            background-position: -90px 0;
                            height: 22px;
                            width: 19px;
                        }
                        &.archive_icon::before {
                            background-position: -111px -4px;
                        }
                        &.invite_icon::before {
                            background-position: -131px -7px;
                            height: 15px;
                            width: 18px;
                        }
                        &.set_to_private_icon::before {
                            background-position: -151px -3px;
                            height: 19px;
                            width: 16px;
                        }
                        &.set_to_public_icon::before {
                            background-position: -185px -2px;
                            height: 20px;
                            width: 20px;
                        }
                        &.remove_icon::before {
                            background-position: -169px -4px;
                            height: 18px;
                            width: 14px;
                        }
                    }
                }
            }
            &:hover{
                border: 1px solid @by_primary;
            }
        }
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 30px @by_bg inset !important;
    -webkit-text-fill-color: @by_black !important;
    transition: background-color 5000s ease-in-out 0s;
}