* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'ReadexPro-Bold';
    src: url('../fonts/ReadexPro-Bold.ttf');
}

@font-face {
    font-family: 'ReadexPro-Medium';
    src: url('../fonts/ReadexPro-Medium.ttf');
}

@font-face {
    font-family: 'ReadexPro-Regular';
    src: url('../fonts/ReadexPro-Regular.ttf');
}

@by_bg: #EFF6FF;
@by_black: #0F172A;
@by_gray: #78716C;
@by_hovered_btn: #BDDAFF;
@by_icon: #94A3B8;
@by_lightgray: #DBEAFE;
@by_primary: #2563EB;
@by_tooltip_bg: #1E293B;
@by_white: #FFFFFF;
@by_off_gray: #B5C4E4;

@readex_regular: 'ReadexPro-Regular', tahoma, verdana, arial, sans-serif;
@readex_medium: 'ReadexPro-Medium', tahoma, verdana, arial, sans-serif;
@readex_bold: 'ReadexPro-Bold', tahoma, verdana, arial, sans-serif;


body{
    background-color: @by_bg;
}