* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  animation-duration: 0.3s !important;
}
@font-face {
  font-family: 'ReadexPro-Bold';
  src: url('../fonts/ReadexPro-Bold.ttf');
}
@font-face {
  font-family: 'ReadexPro-Medium';
  src: url('../fonts/ReadexPro-Medium.ttf');
}
@font-face {
  font-family: 'ReadexPro-Regular';
  src: url('../fonts/ReadexPro-Regular.ttf');
}
body {
  background-color: #EFF6FF;
}
::-webkit-scrollbar {
  opacity: 0.5;
  width: 4px;
}
::-webkit-scrollbar-track {
  border-radius: 100px;
}
::-webkit-scrollbar-thumb {
  background: #A1A1AA;
  border-radius: 100px;
}
textarea {
  resize: none !important;
}
#header_container {
  background: #EFF6FF;
  height: 64px;
  position: relative;
  width: 100%;
}
#header_container .header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 3px 32px;
  position: absolute;
  width: 100%;
}
#header_container .header .global_logo {
  margin: 0 60px;
}
#header_container .header .user_profile {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
#header_container .header .user_profile a {
  background: #FFFFFF;
  border-radius: 40px;
  border: 1px solid #BBCCF3;
  font: 14px/20px 'ReadexPro-Medium', tahoma, verdana, arial, sans-serif;
  margin: 0 16px;
  padding: 10px 54px 10px 24px;
  position: relative;
  text-decoration: none;
}
#header_container .header .user_profile a::after {
  background: url('../../assets/images/header_sprite.svg') no-repeat;
  background-position: 1px 0px;
  content: '';
  display: inline;
  height: 24px;
  position: absolute;
  right: 20px;
  top: 8px;
  width: 24px;
}
#header_container .header .user_profile .user_settings button {
  background: url("../images/header_sprite.svg") no-repeat;
  background-position: -40px 0px;
  border: none;
  height: 28px;
  width: 28px;
}
@media screen and (max-width: 632px) {
  #header_container {
    display: none;
  }
}
#nav_documentation {
  pointer-events: all;
  z-index: 99999;
}
#nav_documentation .nav_holder {
  background: #1E293B;
  min-height: calc(100vh);
  pointer-events: all;
  position: fixed;
  width: 80px;
  z-index: 1;
}
#nav_documentation .nav_holder a {
  background: url("../images/nav_sprite.svg") no-repeat;
  background-position: 1px 0px;
  display: block;
  height: 28px;
  margin: auto;
  transform: translateY(20px);
  width: 28px;
  z-index: 999;
}
#nav_documentation #slide-out {
  background: #1E293B;
  z-index: 99999;
}
#nav_documentation #slide-out .nav {
  background: url("../images/nav_sprite.svg") no-repeat;
  background-position: -50px 0px;
  display: block;
  height: 28px;
  margin: 0 30px 68px 30px;
  position: relative;
  transform: translateY(20px);
  width: 28px;
  z-index: 999;
}
#nav_documentation #slide-out .nav::after {
  background: url('../images/global_logo.svg') no-repeat;
  content: '';
  display: block;
  height: 64px;
  left: 40px;
  position: absolute;
  top: -15px;
  width: 416px;
}
#nav_documentation #slide-out li {
  font: 16px/20px 'ReadexPro-Regular', tahoma, verdana, arial, sans-serif;
  z-index: 9999;
}
#nav_documentation #slide-out li:hover {
  background: #E8F2FF;
  border-radius: 0px 20px 20px 0px;
  max-width: 280px;
}
#nav_documentation #slide-out li a {
  color: #B4C5FF;
  transform: translateX(26px);
  z-index: 9999;
}
#nav_documentation #slide-out li a:hover {
  background: url('../images/nav_sprite.svg') no-repeat;
  background-position: -95px 11px;
  color: #2563EB;
  display: block;
}
@media screen and (max-width: 632px) {
  #nav_documentation {
    display: none;
  }
}
#mobile_container {
  background: #FCFCFF;
  border-radius: 12px 12px 0px 0px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.168);
  padding: 0 19px;
}
#mobile_container .header_mobile {
  align-items: center;
  display: flex;
  height: 56px;
  justify-content: space-between;
}
#mobile_container .header_mobile .mobile {
  background: url("../images/mobile_nav_sprite.svg") no-repeat;
  background-position: 1px 0px;
  display: block;
  height: 28px;
  width: 28px;
}
#mobile_container .header_mobile #mobile_nav {
  background: #001D32 !important;
}
#mobile_container .header_mobile #mobile_nav li {
  margin: 0 16px;
}
#mobile_container .header_mobile #mobile_nav li a {
  color: #B4C5FF;
  padding: 0 0;
}
#mobile_container .header_mobile #mobile_nav li a:hover {
  background: #E8F2FF;
  border-radius: 0px 40px 40px 0px;
  color: #2563EB;
  margin-left: -31px;
  padding-left: 30px;
  position: relative;
  width: 113%;
}
#mobile_container .header_mobile #mobile_nav li a:hover::after {
  background: url("../images/mobile_nav_sprite.svg") no-repeat;
  background-position: -88px 2px;
  content: '';
  display: block;
  height: 28px;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 28px;
}
#mobile_container .header_mobile #mobile_nav li span {
  color: #FFFFFF;
}
#mobile_container .header_mobile form input {
  border-bottom: 0;
  color: #2563EB;
  font: 14px/18px 'ReadexPro-Medium', tahoma, verdana, arial, sans-serif;
}
#mobile_container .header_mobile form ul {
  background: #FCFCFF;
  border-radius: 0px 0px 12px 12px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.168);
  left: 0 !important;
  max-width: 622px;
  position: fixed;
  top: 57px !important;
  width: 100% !important;
}
#mobile_container .header_mobile form ul li {
  border-bottom: 1px solid #E2E2EC;
}
#mobile_container .header_mobile form ul li span {
  color: #757680 !important;
  font: 14px/18px 'ReadexPro-Regular', tahoma, verdana, arial, sans-serif;
}
#mobile_container .header_mobile form ul li span:hover {
  background: transparent !important;
  color: #001D32 !important;
}
#mobile_container .header_mobile form ul li:hover {
  background: transparent !important;
}
#mobile_container .header_mobile form ul li.selected {
  display: none !important;
}
@media screen and (min-width: 633px) {
  #mobile_container {
    display: none;
  }
}
@media screen and (max-width: 632px) {
  #mobile_container {
    display: block;
  }
}
#invite_modal_container .invite_wrapper .modal {
  border-radius: 12px;
  height: 652px;
  max-width: 465px;
  overflow: hidden;
}
#invite_modal_container .invite_wrapper .modal .modal-content {
  position: relative;
}
#invite_modal_container .invite_wrapper .modal .modal-content::after {
  border: 1px solid #DBEAFE;
  content: '';
  display: block;
  left: 0px;
  position: absolute;
  top: 106px;
  width: 465px;
}
#invite_modal_container .invite_wrapper .modal .modal-content h2 {
  color: #0F172A;
  font: 20px/28px 'ReadexPro-Regular', tahoma, verdana, arial, sans-serif;
  margin-bottom: 10px;
}
#invite_modal_container .invite_wrapper .modal .modal-content p {
  color: #A1A1AA;
  font: 12px/11px 'ReadexPro-Regular', tahoma, verdana, arial, sans-serif;
}
#invite_modal_container .invite_wrapper .modal .invite_collab {
  padding: 24px;
}
#invite_modal_container .invite_wrapper .modal .invite_collab .row .input-field {
  max-width: 417px;
  padding: 0px;
  position: relative;
  width: 100%;
}
#invite_modal_container .invite_wrapper .modal .invite_collab .row .input-field .chips {
  align-items: center;
  background-color: #EFF6FF;
  border-bottom: 1px solid #2563EB;
  border-radius: 0px 0px 5px 5px;
  border-width: revert;
  display: flex;
  flex-wrap: wrap;
  padding-left: 10px;
}
#invite_modal_container .invite_wrapper .modal .invite_collab .row .input-field .chips.invalid {
  border-bottom: 1px solid #DA4D4D !important;
}
#invite_modal_container .invite_wrapper .modal .invite_collab .row .input-field .chips.valid {
  border-bottom: 1px solid #2563EB;
  box-shadow: 0 1px 0 0 #2563EB;
}
#invite_modal_container .invite_wrapper .modal .invite_collab .row .input-field .chips i {
  color: transparent;
  position: relative;
}
#invite_modal_container .invite_wrapper .modal .invite_collab .row .input-field .chips i::after {
  background: url("../../assets/images/modal_sprite.svg") no-repeat;
  background-position: -70px 2px;
  content: '';
  display: block;
  height: 28px;
  position: absolute;
  right: -12px;
  top: 4px;
  width: 28px;
}
#invite_modal_container .invite_wrapper .modal .invite_collab .row .input-field .chips input {
  border: none;
  box-shadow: none;
  height: auto;
  z-index: 999;
}
#invite_modal_container .invite_wrapper .modal .invite_collab .row .input-field .chips input.input,
#invite_modal_container .invite_wrapper .modal .invite_collab .row .input-field .chips input.valid,
#invite_modal_container .invite_wrapper .modal .invite_collab .row .input-field .chips input.invalid {
  border-bottom: none !important;
  box-shadow: none;
}
#invite_modal_container .invite_wrapper .modal .invite_collab .row .input-field .chips input::placeholder {
  color: #78716C;
  font: 12px/16px 'ReadexPro-Medium', tahoma, verdana, arial, sans-serif;
}
#invite_modal_container .invite_wrapper .modal .invite_collab .row .input-field .chips .chip {
  background: transparent;
  border: 1px solid #94A3B8;
  color: #0F172A;
}
#invite_modal_container .invite_wrapper .modal .invite_collab .row .input-field .chips.input-field {
  background: #EFF6FF;
  border-radius: 8px 8px 5px 5px;
  padding: 8px;
}
#invite_modal_container .invite_wrapper .modal .invite_collab .row .input-field label {
  color: #78716C;
  font: 16px/16px 'ReadexPro-Medium', tahoma, verdana, arial, sans-serif !important;
  margin: 9px auto;
  top: 21px !important;
}
#invite_modal_container .invite_wrapper .modal .invite_collab .row .input-field label.active {
  color: #78716C;
  top: 30px !important;
}
#invite_modal_container .invite_wrapper .modal .invite_collab .row .input-field .users {
  background: url("../../assets/images/modal_sprite.svg") no-repeat;
  background-position: 1px 0px;
  border: none;
  bottom: 25px;
  cursor: pointer;
  display: block;
  height: 20px;
  position: absolute;
  right: 15px;
  width: 20px;
}
#invite_modal_container .invite_wrapper .modal .invite_collab .row .input-field #add_invite {
  border-radius: 8px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 2px 6px 2px rgba(0, 0, 0, 0.15);
  left: 0 !important;
  margin: -9px auto !important;
  max-height: 350px;
  overflow: auto;
  position: absolute;
  top: auto !important;
  width: 417px !important;
}
#invite_modal_container .invite_wrapper .modal .invite_collab .row .input-field #add_invite li {
  margin: 16px auto;
  padding: 0 24px;
}
#invite_modal_container .invite_wrapper .modal .invite_collab .row .input-field #add_invite li:hover {
  background: transparent;
}
#invite_modal_container .invite_wrapper .modal .invite_collab .row .input-field #add_invite li input[type="checkbox"].choose_users + label {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 8px;
  height: auto;
  width: 369px;
}
#invite_modal_container .invite_wrapper .modal .invite_collab .row .input-field #add_invite li input[type="checkbox"].choose_users + label img {
  position: relative;
}
#invite_modal_container .invite_wrapper .modal .invite_collab .row .input-field #add_invite li input[type="checkbox"].choose_users + label .user_information {
  left: 88px;
  position: absolute;
}
#invite_modal_container .invite_wrapper .modal .invite_collab .row .input-field #add_invite li input[type="checkbox"].choose_users + label .user_information h4 {
  color: #0F172A;
  font: 16px/8px 'ReadexPro-Medium', tahoma, verdana, arial, sans-serif;
}
#invite_modal_container .invite_wrapper .modal .invite_collab .row .input-field #add_invite li input[type="checkbox"].choose_users + label .user_information p {
  color: #A1A1AA;
  font: 12px/6px 'ReadexPro-Regular', tahoma, verdana, arial, sans-serif;
}
#invite_modal_container .invite_wrapper .modal .invite_collab .row .input-field #add_invite li input[type="checkbox"].choose_users + label:hover {
  background: #EFF6FF;
  border-radius: 8px;
}
#invite_modal_container .invite_wrapper .modal .invite_collab .row .input-field #add_invite li input[type="checkbox"].choose_users:checked + label {
  background: #EFF6FF;
  border-radius: 8px;
  border: 2px solid #2563EB;
  box-shadow: 0px 0px 0px 1px #38BDF8;
  height: auto;
  opacity: 1;
  width: 369px;
}
#invite_modal_container .invite_wrapper .modal .invite_collab .dropdown-trigger {
  font: 12px/24px 'ReadexPro-Medium', tahoma, verdana, arial, sans-serif !important;
  color: #A1A1AA !important;
  max-width: 70px !important;
  border-bottom: none !important;
  top: 4px !important;
}
#invite_modal_container .invite_wrapper .modal .invite_collab .dropdown-content {
  left: -30px !important;
}
#invite_modal_container .invite_wrapper .modal .invite_collab .dropdown-content li span span {
  font: 12px/24px 'ReadexPro-Regular', tahoma, verdana, arial, sans-serif !important;
  color: #A1A1AA !important;
}
#invite_modal_container .invite_wrapper .modal .invite_collab h2 {
  color: #0F172A;
  font: 20px/18px 'ReadexPro-Regular', tahoma, verdana, arial, sans-serif;
}
#invite_modal_container .invite_wrapper .modal .invite_collab #with_access_div .invited_users_wrapper {
  display: contents;
  min-height: 268px;
  overflow-x: hidden;
  overflow-y: scroll;
}
#invite_modal_container .invite_wrapper .modal .invite_collab #with_access_div .invited_users_wrapper .invited_user {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
}
#invite_modal_container .invite_wrapper .modal .invite_collab #with_access_div .invited_users_wrapper .invited_user input[type=checkbox] {
  display: none;
}
#invite_modal_container .invite_wrapper .modal .invite_collab #with_access_div .invited_users_wrapper .invited_user select,
#invite_modal_container .invite_wrapper .modal .invite_collab #with_access_div .invited_users_wrapper .invited_user p {
  color: #A1A1AA !important;
  font: 12px/24px 'ReadexPro-Medium', tahoma, verdana, arial, sans-serif;
  margin-left: auto;
}
#invite_modal_container .invite_wrapper .modal .invite_collab #with_access_div .invited_users_wrapper .invited_user .invited_user_info {
  margin-left: 16px;
  position: relative;
}
#invite_modal_container .invite_wrapper .modal .invite_collab #with_access_div .invited_users_wrapper .invited_user .invited_user_info h4 {
  color: #0F172A;
  font: 16px/11px 'ReadexPro-Medium', tahoma, verdana, arial, sans-serif;
}
#invite_modal_container .invite_wrapper .modal .invite_collab #with_access_div .invited_users_wrapper .invited_user .invited_user_info p {
  color: #A1A1AA;
  font: 12px/10px 'ReadexPro-Regular', tahoma, verdana, arial, sans-serif;
  padding: 10px 0;
}
#invite_modal_container .invite_wrapper .modal .invite_collab #with_access_div .invited_users_wrapper .invited_user .select-wrapper {
  margin: -5px 0 0 0;
}
#invite_modal_container .invite_wrapper .modal .invite_collab #with_access_div .invited_users_wrapper .invited_user .invited_user_role {
  color: #7D949D;
  font: 12px/24px 'ReadexPro-Regular', tahoma, verdana, arial, sans-serif;
  position: relative;
  transform: translateX(-18px);
}
#invite_modal_container .invite_wrapper .modal .invite_collab #with_access_div .invited_users_wrapper .invited_user .invited_user_role::after {
  background: url("../../assets/images/modal_sprite.svg") no-repeat;
  background-position: -26px -1px;
  content: '';
  display: block;
  height: 28px;
  position: absolute;
  right: -24px;
  top: 4px;
  width: 28px;
}
#invite_modal_container .invite_wrapper .modal .invite_collab #with_access_div .invited_users_wrapper .invited_user span {
  color: #7D949D;
  font: 12px/24px 'ReadexPro-Regular', tahoma, verdana, arial, sans-serif;
}
#invite_modal_container .invite_wrapper .modal .invite_collab #with_access_div .invited_users_wrapper .invited_user #choose_role li a {
  color: #7D949D;
  font: 12px/24px 'ReadexPro-Regular', tahoma, verdana, arial, sans-serif;
}
#invite_modal_container .invite_wrapper .modal .invite_collab .empty_search_wrapper .no_result {
  position: relative;
}
#invite_modal_container .invite_wrapper .modal .invite_collab .empty_search_wrapper .no_result::before {
  animation: gradient 2s ease infinite;
  background: linear-gradient(-45deg, #ffffff, #e5e5e5) no-repeat;
  background-size: 400% 400%;
  border-radius: 8px;
  content: '';
  display: block;
  height: 200px;
  position: absolute;
  top: 75px;
  width: 420px;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
#invite_modal_container .invite_wrapper .modal .invite_collab .empty_search_wrapper .no_result p {
  color: #78716C;
  font: 16px/24px 'ReadexPro-Regular', tahoma, verdana, arial, sans-serif;
  position: absolute;
  text-align: center;
  z-index: 999;
}
#invite_modal_container .invite_wrapper .modal .invite_collab .empty_search_wrapper .no_result img {
  margin: 69px auto;
  opacity: 0.5;
  position: inherit;
  z-index: 999;
}
#invite_modal_container .invite_wrapper .modal .cta_done {
  bottom: 13px;
  position: absolute;
  right: 18px;
}
#invite_modal_container .invite_wrapper .modal .cta_done a {
  border-radius: 20px;
  border: 1px solid #2563EB;
  color: #2563EB;
  padding: 8px 16px;
  font: 16px/19px 'ReadexPro-Regular', tahoma, verdana, arial, sans-serif;
}
#wrapper {
  z-index: 1000;
}
.row_placeholder {
  flex-grow: 1;
}
.checkbox_label {
  display: flex;
}
.checkbox_label * {
  cursor: pointer;
  vertical-align: middle;
}
.checkbox_label input[type="checkbox"] {
  display: none;
}
.checkbox_label input[type="checkbox"]:checked + .checkbox_marker {
  background: #2563EB;
  text-align: center;
}
.checkbox_label input[type="checkbox"]:checked + .checkbox_marker::before {
  line-height: 14px;
  content: '\2713';
  display: block !important;
  color: #FFFFFF;
  font-size: 16px;
  -ms-transform: rotate(9deg);
  /* IE 9 */
  -webkit-transform: rotate(9deg);
  /* Chrome, Safari, Opera */
  transform: rotate(9deg);
}
.checkbox_label .checkbox_marker {
  display: block;
  border-radius: 2px;
  border: 1px solid #757680;
  height: 18px !important;
  margin-right: 10px;
  padding: 0px !important;
  width: 18px !important;
  display: inline-block;
  user-select: none;
}
.checkbox_label .checkbox_marker::before,
.checkbox_label .checkbox_marker::after {
  display: none !important;
}
.checkbox_label .checkbox_text {
  flex-grow: 1;
  font: 16px/20px 'ReadexPro-Regular', tahoma, verdana, arial, sans-serif;
  color: #1E293B;
}
.confirm_action_modal {
  padding: 10px 0px;
}
#confirmation_modal .modal,
#confirmation_modal_private .modal,
.confirm_action_modal .modal {
  border-radius: 8px;
  flex-direction: column;
  max-width: 343px;
  min-height: 194px;
  overflow: hidden;
  width: 100%;
  z-index: 10003 !important;
}
#confirmation_modal .modal.show,
#confirmation_modal_private .modal.show,
.confirm_action_modal .modal.show {
  display: flex !important;
}
#confirmation_modal .modal + .modal-overlay,
#confirmation_modal_private .modal + .modal-overlay,
.confirm_action_modal .modal + .modal-overlay {
  z-index: 10002 !important;
}
#confirmation_modal .modal .modal-content,
#confirmation_modal_private .modal .modal-content,
.confirm_action_modal .modal .modal-content {
  flex-grow: 1;
  padding: 14px 24px;
}
#confirmation_modal .modal .modal-content h4,
#confirmation_modal_private .modal .modal-content h4,
.confirm_action_modal .modal .modal-content h4 {
  color: #0F172A;
  font: 20px/32px 'ReadexPro-Regular', tahoma, verdana, arial, sans-serif;
}
#confirmation_modal .modal .modal-content p,
#confirmation_modal_private .modal .modal-content p,
.confirm_action_modal .modal .modal-content p {
  color: #6C7177;
  font: 16px/24px 'ReadexPro-Regular', tahoma, verdana, arial, sans-serif;
}
#confirmation_modal .modal .modal-footer,
#confirmation_modal_private .modal .modal-footer,
.confirm_action_modal .modal .modal-footer {
  height: auto;
  padding: 0px 24px 24px;
}
#confirmation_modal .modal .modal-footer a,
#confirmation_modal_private .modal .modal-footer a,
.confirm_action_modal .modal .modal-footer a,
#confirmation_modal .modal .modal-footer button,
#confirmation_modal_private .modal .modal-footer button,
.confirm_action_modal .modal .modal-footer button {
  margin: 0;
}
#confirmation_modal .modal .modal-footer .no_btn,
#confirmation_modal_private .modal .modal-footer .no_btn,
.confirm_action_modal .modal .modal-footer .no_btn {
  color: #DA4D4D;
  font: 16px/36px 'ReadexPro-Regular', tahoma, verdana, arial, sans-serif;
  text-transform: none !important;
}
#confirmation_modal .modal .modal-footer .yes_btn,
#confirmation_modal_private .modal .modal-footer .yes_btn,
.confirm_action_modal .modal .modal-footer .yes_btn {
  border: 1px solid #2563EB;
  border-radius: 20px;
  color: #2563EB;
  font: 16px/24px 'ReadexPro-Regular', tahoma, verdana, arial, sans-serif;
  padding: 5px 16px;
  text-transform: none !important;
}
body::-webkit-scrollbar {
  background-color: #EFF6FF;
  border-radius: 10px;
  width: 10px;
}
body::-webkit-scrollbar-thumb {
  background-color: #DBEAFE;
  border-radius: 10px;
  width: 10px;
}
@keyframes slideSwipeLeft {
  0% {
    opacity: 0;
    transform: translateX(10%);
  }
  80% {
    transform: translateX(0%);
  }
  100% {
    opacity: 1;
  }
}
#wrapper {
  padding-left: 80px;
  width: 100% !important;
}
@media (max-width: 632px) {
  #wrapper {
    padding: 40px 0px;
  }
}
#wrapper .mobile_search_form {
  display: none !important;
}
#edit_section_content {
  margin: 0 auto 40px;
  width: 1024px;
}
@media (max-width: 1168px) {
  #edit_section_content {
    padding: 0 32px;
    width: 100% !important;
  }
}
#edit_section_content .section_details .add_description {
  position: relative;
}
#edit_section_content .section_details .add_description:hover::after {
  background: url('https://village88.s3.us-east-1.amazonaws.com/boomyeah_v2/admin_edit_docs_sprite.svg') no-repeat;
  background-position: -59px -4px;
  content: '';
  display: inline-block;
  height: 18px;
  position: absolute;
  right: -5px;
  width: 18px;
}
#edit_section_content .section_details .add_description textarea {
  max-width: 955px;
}
#edit_section_content #add_page_tabs_btn {
  border-radius: 20px;
  border: 1px solid #2563EB;
  color: #2563EB;
  cursor: pointer;
  text-align: center;
  background: transparent;
  border-style: dashed;
  font: 14px 'ReadexPro-Medium', tahoma, verdana, arial, sans-serif;
  height: 45px;
  line-height: 45px;
  width: 100%;
}
#edit_section_content #add_page_tabs_btn:hover {
  background: #BDDAFF;
}
@font-face {
  font-family: 'ReadexPro-Bold';
  src: url('../fonts/ReadexPro-Bold.ttf');
}
@font-face {
  font-family: 'ReadexPro-Medium';
  src: url('../fonts/ReadexPro-Medium.ttf');
}
@font-face {
  font-family: 'ReadexPro-Regular';
  src: url('../fonts/ReadexPro-Regular.ttf');
}
@font-face {
  font-family: 'ReadexPro-Light';
  src: url('../fonts/ReadexPro-Light.ttf');
}
#section_summary {
  background: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0px 2px 3px rgba(30, 41, 59, 0.3);
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}
@media (max-width: 632px) {
  #section_summary {
    margin-bottom: 16px;
  }
  #section_summary .breadcrumbs {
    display: none !important;
  }
  #section_summary .breadcrumbs + .section_details {
    padding: 16px;
  }
}
#section_summary .breadcrumbs {
  border-bottom: 1px solid #D5E3FF;
  padding: 14px 24px;
  display: flex;
  align-items: center;
}
#section_summary .breadcrumbs * {
  font: 14px/12px 'ReadexPro-Regular', tahoma, verdana, arial, sans-serif;
}
#section_summary .breadcrumbs #breadcrumbs_list li {
  display: inline-block;
}
#section_summary .breadcrumbs #breadcrumbs_list li::before {
  background: url("../images/admin_edit_section.svg") no-repeat;
  background-position: 0px;
  content: "";
  display: inline-block;
  height: 20px;
  vertical-align: middle;
  width: 5px;
  margin: 0px 8px;
}
#section_summary .breadcrumbs #breadcrumbs_list li:first-child::before {
  display: none;
}
#section_summary .breadcrumbs #breadcrumbs_list li a,
#section_summary .breadcrumbs #breadcrumbs_list li span {
  vertical-align: middle;
}
#section_summary .breadcrumbs #breadcrumbs_list li a {
  color: #2563EB;
}
#section_summary .breadcrumbs #preview_section_btn {
  border-radius: 20px;
  border: 1px solid #2563EB;
  color: #2563EB;
  cursor: pointer;
  text-align: center;
  background: #BDDAFF;
  border-radius: 40px;
  border: none;
  font: 14px 'ReadexPro-Regular', tahoma, verdana, arial, sans-serif;
  height: 40px;
  line-height: 40px;
  padding: 0px 16px;
}
#section_summary .breadcrumbs #preview_section_btn::after {
  background: url("../images/admin_edit_section.svg") no-repeat;
  background-position: -5px;
  content: "";
  display: inline-block;
  height: 20px;
  vertical-align: middle;
  width: 16px;
  margin-left: 8px;
}
#section_summary .section_details {
  padding: 24px;
}
#section_summary .section_details #section_title {
  font: 40px/50px 'ReadexPro-Regular', tahoma, verdana, arial, sans-serif;
  margin: 0px 0px 16px;
}
@media (max-width: 632px) {
  #section_summary .section_details #section_title {
    font: 14px/18px 'ReadexPro-Regular', tahoma, verdana, arial, sans-serif;
    margin-bottom: 8px;
  }
}
#section_summary .section_details #section_short_description {
  border: none;
  color: #757680;
  font: 16px/20px 'ReadexPro-Regular', tahoma, verdana, arial, sans-serif;
  min-height: 60px;
  outline: none;
}
@media (max-width: 632px) {
  #section_summary .section_details #section_short_description {
    font: 12px/16px 'ReadexPro-Regular', tahoma, verdana, arial, sans-serif;
  }
}
@media (max-width: 632px) {
  .section_page_content {
    display: none;
    margin-bottom: 16px;
    transition: transform 0.2s;
  }
  .section_page_content.active {
    display: block;
  }
  .section_page_content .section_page_tabs {
    display: none !important;
  }
  .section_page_content .section_page_tabs + .section_page_tab {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}
.section_page_content .section_page_tabs {
  font-size: 0px;
}
.section_page_content .section_page_tabs > li {
  display: inline-block;
  font-size: 14px;
  margin-right: 2px;
  vertical-align: bottom;
}
.section_page_content .section_page_tabs .page_tab_item {
  position: relative;
  display: inline-flex;
}
.section_page_content .section_page_tabs .page_tab_item a {
  background: #D5E3FF;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #2563EB;
  display: block;
  font-family: 'ReadexPro-Regular', tahoma, verdana, arial, sans-serif;
  height: 48px;
  line-height: 48px;
  padding: 0px 42px 0px 24px;
}
.section_page_content .section_page_tabs .page_tab_item .remove_tab_btn {
  background: transparent;
  border: none;
  color: #E2E2EC;
  cursor: pointer;
  font-size: 20px;
  height: 48px;
  margin-right: 16px;
  position: absolute;
  right: 0px;
}
.section_page_content .section_page_tabs .page_tab_item.active a,
.section_page_content .section_page_tabs .page_tab_item:hover a {
  background: #FFFFFF;
  font-family: 'ReadexPro-Medium', tahoma, verdana, arial, sans-serif;
}
.section_page_content .section_page_tabs .add_page_tab .add_page_btn {
  background: #D5E3FF;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: none;
  color: #2563EB;
  cursor: pointer;
  display: block;
  font-size: 24px;
  height: 48px;
  line-height: 48px;
  padding: 0px 24px;
}
@media (max-width: 632px) {
  .section_page_content {
    border-radius: 10px;
    box-shadow: 0px 2px 3px rgba(30, 41, 59, 0.3);
  }
  .section_page_content .section_page_tab:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .section_page_content .section_page_tab:last-child .tab_title::after {
    display: none;
  }
}
.section_page_content .section_page_tab {
  background: #FFFFFF;
  border-radius: 10px;
  border-top-left-radius: 0px;
  box-shadow: 0px 2px 3px rgba(30, 41, 59, 0.3);
  display: none;
  flex-direction: column;
  margin-bottom: 24px;
  padding: 24px;
}
@media (max-width: 632px) {
  .section_page_content .section_page_tab {
    border-radius: 0px;
    box-shadow: none;
    display: flex !important;
    margin-bottom: 0px;
    padding: 12px 18px;
  }
  .section_page_content .section_page_tab:first-child {
    border-radius: 10px !important;
  }
  .section_page_content .section_page_tab.show {
    padding: 24px;
  }
  .section_page_content .section_page_tab.show .tab_title {
    color: #001D32;
    margin: 0px 0px 8px !important;
  }
  .section_page_content .section_page_tab.show .tab_title ~ * {
    display: block !important;
  }
  .section_page_content .section_page_tab.show .tab_title ~ *.tab_comments {
    display: none !important;
  }
  .section_page_content .section_page_tab.show .tab_title::before {
    background: url("../images/admin_edit_section.svg") no-repeat;
    background-position: -121.51px;
    content: "";
    display: inline-block;
    height: 16px;
    vertical-align: middle;
    width: 12.51px;
  }
  .section_page_content .section_page_tab.show .tab_title::after {
    display: none;
  }
  .section_page_content .section_page_tab .tab_title {
    color: #A8C8FF;
    cursor: pointer;
    font: 14px/16px 'ReadexPro-Regular', tahoma, verdana, arial, sans-serif !important;
    margin: 0px 0px 0px !important;
    vertical-align: top;
    position: relative;
  }
  .section_page_content .section_page_tab .tab_title ~ * {
    display: none !important;
  }
  .section_page_content .section_page_tab .tab_title::before {
    background: url("../images/admin_edit_section.svg") no-repeat;
    background-position: -109px;
    content: "";
    display: inline-block;
    height: 16px;
    vertical-align: middle;
    width: 12.51px;
    margin-right: 5.75px;
    vertical-align: top !important;
  }
  .section_page_content .section_page_tab .tab_title::after {
    border-bottom: 1px solid #E2E2EC;
    content: "";
    display: block;
    margin-top: 12px;
    position: absolute;
    width: calc(100%);
  }
  .section_page_content .section_page_tab iframe {
    max-width: calc(100%) !important;
    margin-bottom: 10px;
  }
}
.section_page_content .section_page_tab.show {
  display: flex;
}
.section_page_content .section_page_tab input.tab_title {
  background: transparent;
  border-radius: 8px;
  border: 1px solid #D5E3FF !important;
  box-sizing: border-box;
  font-size: 16px;
  height: 54px;
  line-height: 52px;
  margin-bottom: 16px;
  padding: 0px 16px;
}
.section_page_content .section_page_tab textarea.tab_content {
  min-height: 360px;
}
.section_page_content .section_page_tab h3.tab_title {
  font: 20px/18px 'ReadexPro-Regular', tahoma, verdana, arial, sans-serif;
  margin: 0px 0px 16px;
  padding: 0px;
}
.section_page_content .section_page_tab p.tab_content {
  color: #6C7177;
  font: 16px/24px 'ReadexPro-Light', tahoma, verdana, arial, sans-serif;
}
@media (max-width: 632px) {
  .section_page_content .section_page_tab p.tab_content {
    font: 12px/16px 'ReadexPro-Regular', tahoma, verdana, arial, sans-serif;
  }
}
.section_page_content .section_page_tab .rx-container {
  border-radius: 8px;
  border: 1px solid #D5E3FF !important;
  margin-bottom: 16px;
  padding: 16px;
}
.section_page_content .section_page_tab .rx-container .rx-toolbar-container {
  background: #ECF1FF;
  border-radius: 8px;
  border: none;
}
.section_page_content .section_page_tab .rx-container .rx-editor-container .rx-editor {
  padding: 16px 0px !important;
}
.section_page_content .section_page_tab .tab_footer {
  align-items: center;
  display: flex;
  height: 20px;
}
.section_page_content .section_page_tab .tab_footer .saving_indicator {
  color: #2563EB;
  height: 20px;
  line-height: 20px;
  vertical-align: middle;
  opacity: 0;
  transition: opacity 0.13s;
}
.section_page_content .section_page_tab .tab_footer .saving_indicator.show {
  opacity: 1;
  display: block;
}
.section_page_content .section_page_tab .tab_footer .saving_indicator::before {
  background: url("../images/admin_edit_section.svg") no-repeat;
  background-position: -45px;
  content: "";
  display: inline-block;
  height: 20px;
  vertical-align: middle;
  width: 16px;
  margin: -2px 9px 0px 0px;
}
#clone_section_page {
  display: none !important;
}
#toast-container {
  bottom: 40px !important;
  left: initial !important;
  pointer-events: none;
  right: 40px !important;
  top: initial !important;
  width: initial !important;
}
#toast-container .toast {
  background: #FFFFFF;
  border-radius: 12px;
  box-sizing: border-box;
  color: #2563EB;
  font-family: 'ReadexPro-Medium', tahoma, verdana, arial, sans-serif;
  line-height: 16px;
  padding: 26px 24px;
}
#toast-container .toast::before {
  background: url("../images/admin_edit_section.svg") no-repeat;
  background-position: -21px;
  content: "";
  display: inline-block;
  height: 16px;
  vertical-align: middle;
  width: 24px;
  margin-right: 8px;
}
