* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: 'ReadexPro-Bold';
  src: url('../fonts/ReadexPro-Bold.ttf');
}
@font-face {
  font-family: 'ReadexPro-Medium';
  src: url('../fonts/ReadexPro-Medium.ttf');
}
@font-face {
  font-family: 'ReadexPro-Regular';
  src: url('../fonts/ReadexPro-Regular.ttf');
}
body {
  background-color: #EFF6FF;
}
#header_container {
  background: #EFF6FF;
  height: 64px;
  position: relative;
  width: 100%;
}
#header_container .header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 3px 32px;
  position: absolute;
  width: 100%;
}
#header_container .header .global_logo {
  margin: 0 60px;
}
#header_container .header .user_profile {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
#header_container .header .user_profile a {
  background: #FFFFFF;
  border-radius: 40px;
  border: 1px solid #BBCCF3;
  font: 14px/20px 'ReadexPro-Medium', tahoma, verdana, arial, sans-serif;
  margin: 0 16px;
  padding: 10px 54px 10px 24px;
  position: relative;
  text-decoration: none;
}
#header_container .header .user_profile a::after {
  background: url('../../assets/images/header_sprite.svg') no-repeat;
  background-position: 1px 0px;
  content: '';
  display: inline;
  height: 24px;
  position: absolute;
  right: 20px;
  top: 8px;
  width: 24px;
}
#header_container .header .user_profile .user_settings button {
  background: url("../images/header_sprite.svg") no-repeat;
  background-position: -40px 0px;
  border: none;
  height: 28px;
  width: 28px;
}
#header_container #nav_documentation {
  pointer-events: none;
  z-index: 999;
}
#header_container #nav_documentation .nav_holder {
  background: #1E293B;
  height: 100vh;
  max-width: 80px;
  pointer-events: all;
}
#header_container #nav_documentation .nav_holder a {
  background: url("../images/nav_sprite.svg") no-repeat;
  background-position: 1px 0px;
  display: block;
  height: 28px;
  margin: auto;
  transform: translateY(20px);
  width: 28px;
  z-index: 999;
}
#header_container #nav_documentation #slide-out {
  background: #1E293B;
}
#header_container #nav_documentation #slide-out .nav {
  background: url("../images/nav_sprite.svg") no-repeat;
  background-position: -50px 0px;
  display: block;
  height: 28px;
  margin: 0 30px 68px 30px;
  position: relative;
  transform: translateY(20px);
  width: 28px;
  z-index: 999;
}
#header_container #nav_documentation #slide-out .nav::after {
  background: url('../images/global_logo.svg') no-repeat;
  content: '';
  display: block;
  height: 64px;
  left: 40px;
  position: absolute;
  top: -15px;
  width: 416px;
}
#header_container #nav_documentation #slide-out li {
  font: 16px/20px 'ReadexPro-Regular', tahoma, verdana, arial, sans-serif;
}
#header_container #nav_documentation #slide-out li:hover {
  background: #E8F2FF;
  border-radius: 0px 20px 20px 0px;
  max-width: 260px;
}
#header_container #nav_documentation #slide-out li a {
  color: #B4C5FF;
  transform: translateX(26px);
}
#header_container #nav_documentation #slide-out li a:hover {
  background: url('../images/nav_sprite.svg') no-repeat;
  background-position: -95px 11px;
  color: #2563EB;
  display: block;
}
@media screen and (max-width: 622px) {
  #header_container {
    display: none;
  }
}
#mobile_container {
  background: #FCFCFF;
  border-radius: 12px 12px 0px 0px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.168);
  padding: 0 19px;
}
#mobile_container .header_mobile {
  align-items: center;
  display: flex;
  height: 56px;
  justify-content: space-between;
}
#mobile_container .header_mobile .mobile {
  background: url("../images/mobile_nav_sprite.svg") no-repeat;
  background-position: 1px 0px;
  display: block;
  height: 28px;
  width: 28px;
}
#mobile_container .header_mobile #mobile_nav {
  background: #001D32 !important;
}
#mobile_container .header_mobile #mobile_nav li {
  margin: 0 16px;
}
#mobile_container .header_mobile #mobile_nav li a {
  color: #B4C5FF;
  padding: 0 0;
}
#mobile_container .header_mobile #mobile_nav li a:hover {
  background: #E8F2FF;
  border-radius: 0px 40px 40px 0px;
  color: #2563EB;
  margin-left: -31px;
  padding-left: 30px;
  position: relative;
  width: 113%;
}
#mobile_container .header_mobile #mobile_nav li a:hover::after {
  background: url("../images/mobile_nav_sprite.svg") no-repeat;
  background-position: -88px 2px;
  content: '';
  display: block;
  height: 28px;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 28px;
}
#mobile_container .header_mobile #mobile_nav li span {
  color: #FFFFFF;
}
#mobile_container .header_mobile form input {
  border-bottom: 0;
  color: #2563EB;
  font: 14px/18px 'ReadexPro-Medium', tahoma, verdana, arial, sans-serif;
}
#mobile_container .header_mobile form ul {
  background: #FCFCFF;
  border-radius: 0px 0px 12px 12px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.168);
  left: 0 !important;
  max-width: 622px;
  position: fixed;
  top: 57px !important;
  width: 100% !important;
}
#mobile_container .header_mobile form ul li {
  border-bottom: 1px solid #E2E2EC;
}
#mobile_container .header_mobile form ul li span {
  color: #757680 !important;
  font: 14px/18px 'ReadexPro-Regular', tahoma, verdana, arial, sans-serif;
}
#mobile_container .header_mobile form ul li span:hover {
  background: transparent !important;
  color: #001D32 !important;
}
#mobile_container .header_mobile form ul li:hover {
  background: transparent !important;
}
#mobile_container .header_mobile form ul li.selected {
  display: none !important;
}
@media screen and (min-width: 623px) {
  #mobile_container {
    display: none;
  }
}
#wrapper {
  z-index: 1000;
}
body::-webkit-scrollbar {
  width: 10px;
  background-color: #EFF6FF;
  border-radius: 10px;
}
body::-webkit-scrollbar-thumb {
  background-color: #DBEAFE;
  border-radius: 10px;
  width: 10px;
}
.container {
  background-color: #FFFFFF;
  border-radius: 12px;
  margin: 24px auto 0 !important;
  min-width: 1024px !important;
  padding: 64px 24px 32px;
  position: relative;
  width: 1024px !important;
}
.container #doc_form {
  align-items: center;
  display: flex;
  margin-bottom: 48px;
}
.container #doc_form .group_add_documentation {
  background-color: #EFF6FF;
  border-radius: 8px;
  height: 56px;
  margin: 0;
  min-width: 316px;
  position: relative;
  width: 316px;
}
.container #doc_form .group_add_documentation::before {
  background: url('https://village88.s3.us-east-1.amazonaws.com/boomyeah_v2/docs_page_sprite.svg') no-repeat -12px -4px;
  content: "";
  display: inline-block;
  height: 18px;
  position: absolute;
  right: 12px;
  top: 22px;
  width: 18px;
  z-index: 1;
}
.container #doc_form .group_add_documentation::after {
  background-color: #EFF6FF;
  content: '';
  display: inline-block;
  height: 2px;
  position: absolute;
  top: 52px;
  width: 100%;
}
.container #doc_form .group_add_documentation label {
  color: #78716C;
  font: 16px/35px 'ReadexPro-Regular', tahoma, verdana, arial, sans-serif;
  padding-left: 12px;
}
.container #doc_form .group_add_documentation input {
  padding-left: 11px;
  border-radius: 4px;
  bottom: 0;
  color: #0F172A;
  font: 16px/24px 'ReadexPro-Regular', tahoma, verdana, arial, sans-serif;
  height: 43px;
  position: absolute;
  width: 100%;
}
.container #doc_form .group_add_documentation input:-internal-autofill-selected {
  background-color: #EFF6FF;
}
.container #doc_form .group_add_documentation input.valid,
.container #doc_form .group_add_documentation input.validate {
  background-color: #EFF6FF;
  border-bottom: 2px solid #2563EB;
  box-shadow: 0 1px 0 0 #2563EB;
}
.container #doc_form .group_add_documentation label.active {
  color: #2563EB;
  line-height: 16px;
  transform: translateY(6px) scale(0.8);
}
.container #doc_form #input_add_documentation {
  margin-bottom: 0;
  width: 304px;
}
.container #doc_form #save_status {
  color: #B5C4E4;
  font: 14px/20px 'ReadexPro-Medium', tahoma, verdana, arial, sans-serif;
  margin-left: 21px;
  vertical-align: super;
}
.container #docs_view_btn {
  background-color: transparent;
  border: none;
  color: #0F172A;
  font: 20px/24px 'ReadexPro-Regular', tahoma, verdana, arial, sans-serif;
  margin-bottom: 26px;
}
.container #docs_view_btn::after {
  background: url('https://village88.s3.us-east-1.amazonaws.com/boomyeah_v2/docs_page_sprite.svg') no-repeat 0 -15px;
  content: '';
  display: inline-block;
  height: 7px;
  margin-left: 13px;
  vertical-align: middle;
  width: 10px;
}
.container #docs_view_list {
  border-radius: 4px;
  width: 209px;
}
.container #docs_view_list .divider {
  background-color: #EFF6FF;
}
.container #docs_view_list li:hover {
  background-color: #BDDAFF;
}
.container #docs_view_list a {
  color: #0F172A;
  font: 16px/24px 'ReadexPro-Medium', tahoma, verdana, arial, sans-serif;
}
.container #documentations {
  display: flex;
  gap: 14px;
}
.container #documentations .document_block {
  align-items: center;
  background-color: #EFF6FF;
  border-radius: 8px;
  border: 1px solid transparent;
  cursor: pointer;
  display: flex;
  height: 83px;
  justify-content: space-between;
  min-width: 316px;
  padding: 20px 23px 20px 16px;
  transition: all 0.21s ease-in-out;
  width: 316px;
}
.container #documentations .document_block .document_details h2 {
  color: #0F172A;
  font: 12px/16px 'ReadexPro-Regular', tahoma, verdana, arial, sans-serif;
  margin: 0;
}
.container #documentations .document_block .document_details .invite_collaborators_btn {
  background-color: transparent;
  border-radius: 20px;
  border: 1px solid #2563EB;
  color: #2563EB;
  cursor: pointer;
  font: 12px/16px 'ReadexPro-Regular', tahoma, verdana, arial, sans-serif;
  height: 24px;
  width: 49px;
}
.container #documentations .document_block .document_details .invite_collaborators_btn::before {
  background: url('https://village88.s3.us-east-1.amazonaws.com/boomyeah_v2/docs_page_sprite.svg') no-repeat -32px -13px;
  content: '';
  display: inline-block;
  height: 8.67px;
  width: 16px;
}
.container #documentations .document_block .document_controls {
  align-items: center;
  display: flex;
  font-size: 0;
}
.container #documentations .document_block .document_controls .access_btn {
  background: url('https://village88.s3.us-east-1.amazonaws.com/boomyeah_v2/docs_page_sprite.svg') no-repeat -50px -5px;
  border: 0;
  content: '';
  cursor: pointer;
  display: inline-block;
  height: 18px;
  margin-right: 18px;
  width: 14px;
}
.container #documentations .document_block .document_controls .more_action_btn {
  background: url('https://village88.s3.us-east-1.amazonaws.com/boomyeah_v2/docs_page_sprite.svg') no-repeat -65px -9px;
  border: 0;
  color: transparent;
  content: '';
  cursor: pointer;
  display: inline-block;
  height: 14px;
  padding: 2px;
  width: 4px;
}
.container #documentations .document_block .document_controls #more_action_list_public,
.container #documentations .document_block .document_controls #more_action_list_private {
  border-radius: 4px;
  width: 192px !important;
}
.container #documentations .document_block .document_controls #more_action_list_public .divider,
.container #documentations .document_block .document_controls #more_action_list_private .divider {
  background-color: #EFF6FF;
}
.container #documentations .document_block .document_controls #more_action_list_public li:hover,
.container #documentations .document_block .document_controls #more_action_list_private li:hover {
  background-color: #BDDAFF;
}
.container #documentations .document_block .document_controls #more_action_list_public a,
.container #documentations .document_block .document_controls #more_action_list_private a {
  color: #94A3B8;
  font: 16px/24px 'ReadexPro-Regular', tahoma, verdana, arial, sans-serif;
}
.container #documentations .document_block .document_controls #more_action_list_public a::before,
.container #documentations .document_block .document_controls #more_action_list_private a::before {
  background: url('https://village88.s3.us-east-1.amazonaws.com/boomyeah_v2/docs_page_sprite.svg') no-repeat;
  content: "";
  display: inline-block;
  height: 18px;
  margin-right: 16px;
  position: relative;
  vertical-align: text-bottom;
  width: 18px;
}
.container #documentations .document_block .document_controls #more_action_list_public a.edit_title_icon::before,
.container #documentations .document_block .document_controls #more_action_list_private a.edit_title_icon::before {
  background-position: -70px -4px;
}
.container #documentations .document_block .document_controls #more_action_list_public a.duplicate_icon::before,
.container #documentations .document_block .document_controls #more_action_list_private a.duplicate_icon::before {
  background-position: -90px 0;
  height: 22px;
  width: 19px;
}
.container #documentations .document_block .document_controls #more_action_list_public a.archive_icon::before,
.container #documentations .document_block .document_controls #more_action_list_private a.archive_icon::before {
  background-position: -111px -4px;
}
.container #documentations .document_block .document_controls #more_action_list_public a.invite_icon::before,
.container #documentations .document_block .document_controls #more_action_list_private a.invite_icon::before {
  background-position: -131px -7px;
  height: 15px;
  width: 18px;
}
.container #documentations .document_block .document_controls #more_action_list_public a.set_to_private_icon::before,
.container #documentations .document_block .document_controls #more_action_list_private a.set_to_private_icon::before {
  background-position: -151px -3px;
  height: 19px;
  width: 16px;
}
.container #documentations .document_block .document_controls #more_action_list_public a.set_to_public_icon::before,
.container #documentations .document_block .document_controls #more_action_list_private a.set_to_public_icon::before {
  background-position: -185px -2px;
  height: 20px;
  width: 20px;
}
.container #documentations .document_block .document_controls #more_action_list_public a.remove_icon::before,
.container #documentations .document_block .document_controls #more_action_list_private a.remove_icon::before {
  background-position: -169px -4px;
  height: 18px;
  width: 14px;
}
.container #documentations .document_block:hover {
  border: 1px solid #2563EB;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 30px #EFF6FF inset !important;
  -webkit-text-fill-color: #0F172A !important;
  transition: background-color 5000s ease-in-out 0s;
}
