* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: 'ReadexPro-Bold';
  src: url('../fonts/ReadexPro-Bold.ttf');
}
@font-face {
  font-family: 'ReadexPro-Medium';
  src: url('../fonts/ReadexPro-Medium.ttf');
}
@font-face {
  font-family: 'ReadexPro-Regular';
  src: url('../fonts/ReadexPro-Regular.ttf');
}
body {
  background-color: #eff6ff;
}
::-webkit-scrollbar {
  width: 4px;
  opacity: .5;
}
::-webkit-scrollbar-track {
  border-radius: 100px;
}
::-webkit-scrollbar-thumb {
  background: #a1a1aa;
  border-radius: 100px;
}
#header_container {
  background: #eff6ff;
  height: 64px;
  position: relative;
  width: 100%;
}
#header_container .header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 3px 32px;
  position: absolute;
  width: 100%;
}
#header_container .header .global_logo {
  margin: 0 60px;
}
#header_container .header .user_profile {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
#header_container .header .user_profile a {
  background: #ffffff;
  border-radius: 40px;
  border: 1px solid #bbccf3;
  font: 14px/20px 'ReadexPro-Medium', tahoma, verdana, arial, sans-serif;
  margin: 0 16px;
  padding: 10px 54px 10px 24px;
  position: relative;
  text-decoration: none;
}
#header_container .header .user_profile a::after {
  background: url('../../assets/images/header_sprite.svg') no-repeat;
  background-position: 1px 0px;
  content: '';
  display: inline;
  height: 24px;
  position: absolute;
  right: 20px;
  top: 8px;
  width: 24px;
}
#header_container .header .user_profile .user_settings button {
  background: url("../images/header_sprite.svg") no-repeat;
  background-position: -40px 0px;
  border: none;
  height: 28px;
  width: 28px;
}
#header_container #nav_documentation {
  z-index: 999;
}
#header_container #nav_documentation .nav_holder {
  background: #1e293b;
  height: 100vh;
  max-width: 80px;
}
#header_container #nav_documentation .nav_holder a {
  background: url("../images/nav_sprite.svg") no-repeat;
  background-position: 1px 0px;
  display: block;
  height: 28px;
  margin: auto;
  transform: translateY(20px);
  width: 28px;
  z-index: 999;
}
#header_container #nav_documentation #slide-out {
  background: #1e293b;
}
#header_container #nav_documentation #slide-out .nav {
  background: url("../images/nav_sprite.svg") no-repeat;
  background-position: -50px 0px;
  display: block;
  height: 28px;
  margin: 0 30px 68px 30px;
  position: relative;
  transform: translateY(20px);
  width: 28px;
  z-index: 999;
}
#header_container #nav_documentation #slide-out .nav::after {
  background: url('../images/global_logo.svg') no-repeat;
  content: '';
  display: block;
  height: 64px;
  left: 40px;
  position: absolute;
  top: -15px;
  width: 416px;
}
#header_container #nav_documentation #slide-out li {
  font: 16px/20px 'ReadexPro-Regular', tahoma, verdana, arial, sans-serif;
}
#header_container #nav_documentation #slide-out li:hover {
  background: #e8f2ff;
  border-radius: 0px 20px 20px 0px;
  max-width: 260px;
}
#header_container #nav_documentation #slide-out li a {
  color: #b4c5ff;
  transform: translateX(26px);
}
#header_container #nav_documentation #slide-out li a:hover {
  background: url('../images/nav_sprite.svg') no-repeat;
  background-position: -95px 11px;
  color: #2563eb;
  display: block;
}
@media screen and (max-width: 622px) {
  #header_container {
    display: none;
  }
}
#mobile_container {
  background: #fcfcff;
  border-radius: 12px 12px 0px 0px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.168);
  padding: 0 19px;
}
#mobile_container .header_mobile {
  align-items: center;
  display: flex;
  height: 56px;
  justify-content: space-between;
}
#mobile_container .header_mobile .mobile {
  background: url("../images/mobile_nav_sprite.svg") no-repeat;
  background-position: 1px 0px;
  display: block;
  height: 28px;
  width: 28px;
}
#mobile_container .header_mobile #mobile_nav {
  background: #001d32 !important;
}
#mobile_container .header_mobile #mobile_nav li {
  margin: 0 16px;
}
#mobile_container .header_mobile #mobile_nav li a {
  color: #b4c5ff;
  padding: 0 0;
}
#mobile_container .header_mobile #mobile_nav li a:hover {
  background: #e8f2ff;
  border-radius: 0px 40px 40px 0px;
  color: #2563eb;
  margin-left: -31px;
  padding-left: 30px;
  position: relative;
  width: 113%;
}
#mobile_container .header_mobile #mobile_nav li a:hover::after {
  background: url("../images/mobile_nav_sprite.svg") no-repeat;
  background-position: -88px 2px;
  content: '';
  display: block;
  height: 28px;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 28px;
}
#mobile_container .header_mobile #mobile_nav li span {
  color: #ffffff;
}
#mobile_container .header_mobile form input {
  border-bottom: 0;
  color: #2563eb;
  font: 14px/18px 'ReadexPro-Medium', tahoma, verdana, arial, sans-serif;
}
#mobile_container .header_mobile form ul {
  background: #fcfcff;
  border-radius: 0px 0px 12px 12px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.168);
  left: 0 !important;
  max-width: 622px;
  position: fixed;
  top: 57px !important;
  width: 100% !important;
}
#mobile_container .header_mobile form ul li {
  border-bottom: 1px solid #e2e2ec;
}
#mobile_container .header_mobile form ul li span {
  color: #757680 !important;
  font: 14px/18px 'ReadexPro-Regular', tahoma, verdana, arial, sans-serif;
}
#mobile_container .header_mobile form ul li span:hover {
  background: transparent !important;
  color: #001d32 !important;
}
#mobile_container .header_mobile form ul li:hover {
  background: transparent !important;
}
#mobile_container .header_mobile form ul li.selected {
  display: none !important;
}
@media screen and (min-width: 623px) {
  #mobile_container {
    display: none;
  }
}
#invite_modal .invite_wrapper .modal {
  border-radius: 12px;
  height: 652px;
  max-width: 465px;
  overflow: hidden;
}
#invite_modal .invite_wrapper .modal .modal-content {
  position: relative;
}
#invite_modal .invite_wrapper .modal .modal-content::after {
  border: 1px solid #dbeafe;
  content: '';
  display: block;
  left: 0px;
  position: absolute;
  top: 106px;
  width: 465px;
}
#invite_modal .invite_wrapper .modal .modal-content h2 {
  color: #0f172a;
  font: 20px/28px 'ReadexPro-Regular', tahoma, verdana, arial, sans-serif;
  margin-bottom: 10px;
}
#invite_modal .invite_wrapper .modal .modal-content p {
  color: #a1a1aa;
  font: 12px/11px 'ReadexPro-Regular', tahoma, verdana, arial, sans-serif;
}
#invite_modal .invite_wrapper .modal .invite_collab {
  padding: 24px;
}
#invite_modal .invite_wrapper .modal .invite_collab .row {
  background: #eff6ff;
  border-radius: 8px 8px 0px 0px;
  height: 85px;
}
#invite_modal .invite_wrapper .modal .invite_collab .row .input-field {
  max-width: 417px;
  padding: 0px;
  position: relative;
  width: 100%;
}
#invite_modal .invite_wrapper .modal .invite_collab .row .input-field .chips {
  border-bottom: 1px solid #2563eb;
  border-radius: 0px 0px 5px 5px;
  border-width: revert;
  padding-left: 10px;
}
#invite_modal .invite_wrapper .modal .invite_collab .row .input-field .chips.invalid {
  border-bottom: 1px solid #da4d4d !important;
}
#invite_modal .invite_wrapper .modal .invite_collab .row .input-field .chips.valid {
  border-bottom: 1px solid #2563eb;
  box-shadow: 0 1px 0 0 #2563eb;
}
#invite_modal .invite_wrapper .modal .invite_collab .row .input-field .chips i {
  color: transparent;
  position: relative;
}
#invite_modal .invite_wrapper .modal .invite_collab .row .input-field .chips i::after {
  background: url("../../assets/images/modal_sprite.svg") no-repeat;
  background-position: -70px 2px;
  content: '';
  display: block;
  height: 28px;
  position: absolute;
  right: -12px;
  top: 4px;
  width: 28px;
}
#invite_modal .invite_wrapper .modal .invite_collab .row .input-field .chips input.input {
  border-bottom: none !important;
}
#invite_modal .invite_wrapper .modal .invite_collab .row .input-field .chips .chip {
  background: transparent;
  border: 1px solid #94a3b8;
  color: #0f172a;
}
#invite_modal .invite_wrapper .modal .invite_collab .row .input-field label {
  color: #78716c;
  font: 12px/16px 'ReadexPro-Medium', tahoma, verdana, arial, sans-serif;
}
#invite_modal .invite_wrapper .modal .invite_collab .row .input-field label.active {
  color: #78716c;
  top: 10px;
}
#invite_modal .invite_wrapper .modal .invite_collab .row .input-field .users {
  background: url("../../assets/images/modal_sprite.svg") no-repeat;
  background-position: 1px 0px;
  border: none;
  cursor: pointer;
  display: block;
  height: 20px;
  position: absolute;
  right: 15px;
  top: 16px;
  width: 20px;
}
#invite_modal .invite_wrapper .modal .invite_collab .row .input-field #add_invite {
  border-radius: 8px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 2px 6px 2px rgba(0, 0, 0, 0.15);
  height: 400px;
  left: 0 !important;
  top: 47px !important;
  width: 417px !important;
}
#invite_modal .invite_wrapper .modal .invite_collab .row .input-field #add_invite li {
  margin: 16px auto;
  padding: 0 24px;
}
#invite_modal .invite_wrapper .modal .invite_collab .row .input-field #add_invite li:hover {
  background: transparent;
}
#invite_modal .invite_wrapper .modal .invite_collab .row .input-field #add_invite li input[type="checkbox"].choose_users + label {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 8px;
  height: auto;
  width: 369px;
}
#invite_modal .invite_wrapper .modal .invite_collab .row .input-field #add_invite li input[type="checkbox"].choose_users + label img {
  position: relative;
}
#invite_modal .invite_wrapper .modal .invite_collab .row .input-field #add_invite li input[type="checkbox"].choose_users + label .user_information {
  left: 88px;
  position: absolute;
}
#invite_modal .invite_wrapper .modal .invite_collab .row .input-field #add_invite li input[type="checkbox"].choose_users + label .user_information h4 {
  color: #0f172a;
  font: 16px/8px 'ReadexPro-Medium', tahoma, verdana, arial, sans-serif;
}
#invite_modal .invite_wrapper .modal .invite_collab .row .input-field #add_invite li input[type="checkbox"].choose_users + label .user_information p {
  color: #a1a1aa;
  font: 12px/6px 'ReadexPro-Regular', tahoma, verdana, arial, sans-serif;
}
#invite_modal .invite_wrapper .modal .invite_collab .row .input-field #add_invite li input[type="checkbox"].choose_users + label:hover {
  background: #eff6ff;
  border-radius: 8px;
}
#invite_modal .invite_wrapper .modal .invite_collab .row .input-field #add_invite li input[type="checkbox"].choose_users:checked + label {
  background: #eff6ff;
  border-radius: 8px;
  border: 2px solid #2563eb;
  box-shadow: 0px 0px 0px 1px #38bdf8;
  height: auto;
  opacity: 1;
  width: 369px;
}
#invite_modal .invite_wrapper .modal .invite_collab h2 {
  color: #0f172a;
  font: 20px/18px 'ReadexPro-Regular', tahoma, verdana, arial, sans-serif;
}
#invite_modal .invite_wrapper .modal .invite_collab .collaborators_wrapper li {
  margin: 15px auto;
}
#invite_modal .invite_wrapper .modal .invite_collab .collaborators_wrapper li .user_list {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
#invite_modal .invite_wrapper .modal .invite_collab .collaborators_wrapper li .user_list input[type=checkbox] {
  display: none;
}
#invite_modal .invite_wrapper .modal .invite_collab .collaborators_wrapper li .user_list img {
  position: relative;
}
#invite_modal .invite_wrapper .modal .invite_collab .collaborators_wrapper li .user_list .user_information {
  left: 80px;
  position: absolute;
}
#invite_modal .invite_wrapper .modal .invite_collab .collaborators_wrapper li .user_list .user_information h4 {
  color: #0f172a;
  font: 16px/11px 'ReadexPro-Medium', tahoma, verdana, arial, sans-serif;
}
#invite_modal .invite_wrapper .modal .invite_collab .collaborators_wrapper li .user_list .user_information p {
  color: #a1a1aa;
  font: 12px/10px 'ReadexPro-Regular', tahoma, verdana, arial, sans-serif;
}
#invite_modal .invite_wrapper .modal .invite_collab .collaborators_wrapper li .user_list span {
  color: #7d949d;
  font: 12px/24px 'ReadexPro-Regular', tahoma, verdana, arial, sans-serif;
}
#invite_modal .invite_wrapper .modal .invite_collab .collaborators_wrapper li .user_list .role {
  color: #7d949d;
  font: 12px/24px 'ReadexPro-Regular', tahoma, verdana, arial, sans-serif;
  position: relative;
  transform: translateX(-18px);
}
#invite_modal .invite_wrapper .modal .invite_collab .collaborators_wrapper li .user_list .role::after {
  background: url("../../assets/images/modal_sprite.svg") no-repeat;
  background-position: -26px -1px;
  content: '';
  display: block;
  height: 28px;
  position: absolute;
  right: -24px;
  top: 4px;
  width: 28px;
}
#invite_modal .invite_wrapper .modal .invite_collab .collaborators_wrapper li .user_list #choose_role li a {
  color: #7d949d;
  font: 12px/24px 'ReadexPro-Regular', tahoma, verdana, arial, sans-serif;
}
#invite_modal .invite_wrapper .modal .invite_collab .empty_search_wrapper .no_result {
  position: relative;
}
#invite_modal .invite_wrapper .modal .invite_collab .empty_search_wrapper .no_result::before {
  animation: gradient 2s ease infinite;
  background: linear-gradient(-45deg, #ffffff, #e5e5e5) no-repeat;
  background-size: 400% 400%;
  border-radius: 8px;
  content: '';
  display: block;
  height: 200px;
  position: absolute;
  top: 75px;
  width: 420px;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
#invite_modal .invite_wrapper .modal .invite_collab .empty_search_wrapper .no_result p {
  color: #78716c;
  font: 16px/24px 'ReadexPro-Regular', tahoma, verdana, arial, sans-serif;
  position: absolute;
  text-align: center;
  z-index: 999;
}
#invite_modal .invite_wrapper .modal .invite_collab .empty_search_wrapper .no_result img {
  margin: 69px auto;
  opacity: .5;
  position: inherit;
  z-index: 999;
}
#invite_modal .invite_wrapper .modal .cta_done {
  bottom: 13px;
  position: absolute;
  right: 18px;
}
#invite_modal .invite_wrapper .modal .cta_done a {
  border-radius: 20px;
  border: 1px solid #2563eb;
  color: #2563eb;
  padding: 8px 16px;
  font: 16px/19px 'ReadexPro-Regular', tahoma, verdana, arial, sans-serif;
}
