* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  animation-duration: 0.3s !important;
}
@font-face {
  font-family: 'ReadexPro-Bold';
  src: url('../fonts/ReadexPro-Bold.ttf');
}
@font-face {
  font-family: 'ReadexPro-Medium';
  src: url('../fonts/ReadexPro-Medium.ttf');
}
@font-face {
  font-family: 'ReadexPro-Regular';
  src: url('../fonts/ReadexPro-Regular.ttf');
}
body {
  background-color: #EFF6FF;
}
::-webkit-scrollbar {
  opacity: 0.5;
  width: 4px;
}
::-webkit-scrollbar-track {
  border-radius: 100px;
}
::-webkit-scrollbar-thumb {
  background: #A1A1AA;
  border-radius: 100px;
}
textarea {
  resize: none !important;
}
#header_container {
  background: #EFF6FF;
  height: 64px;
  position: relative;
  width: 100%;
}
#header_container .header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 3px 32px;
  position: absolute;
  width: 100%;
}
#header_container .header .global_logo {
  margin: 0 60px;
}
#header_container .header .user_profile {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
#header_container .header .user_profile a {
  background: #FFFFFF;
  border-radius: 40px;
  border: 1px solid #BBCCF3;
  font: 14px/20px 'ReadexPro-Medium', tahoma, verdana, arial, sans-serif;
  margin: 0 16px;
  padding: 10px 54px 10px 24px;
  position: relative;
  text-decoration: none;
}
#header_container .header .user_profile a::after {
  background: url('../../assets/images/header_sprite.svg') no-repeat;
  background-position: 1px 0px;
  content: '';
  display: inline;
  height: 24px;
  position: absolute;
  right: 20px;
  top: 8px;
  width: 24px;
}
#header_container .header .user_profile .user_settings button {
  background: url("../images/header_sprite.svg") no-repeat;
  background-position: -40px 0px;
  border: none;
  height: 28px;
  width: 28px;
}
@media screen and (max-width: 632px) {
  #header_container {
    display: none;
  }
}
#nav_documentation {
  pointer-events: all;
  z-index: 99999;
}
#nav_documentation .nav_holder {
  background: #1E293B;
  min-height: calc(100vh);
  pointer-events: all;
  position: fixed;
  width: 80px;
  z-index: 1;
}
#nav_documentation .nav_holder a {
  background: url("../images/nav_sprite.svg") no-repeat;
  background-position: 1px 0px;
  display: block;
  height: 28px;
  margin: auto;
  transform: translateY(20px);
  width: 28px;
  z-index: 999;
}
#nav_documentation #slide-out {
  background: #1E293B;
  z-index: 99999;
}
#nav_documentation #slide-out .nav {
  background: url("../images/nav_sprite.svg") no-repeat;
  background-position: -50px 0px;
  display: block;
  height: 28px;
  margin: 0 30px 68px 30px;
  position: relative;
  transform: translateY(20px);
  width: 28px;
  z-index: 999;
}
#nav_documentation #slide-out .nav::after {
  background: url('../images/global_logo.svg') no-repeat;
  content: '';
  display: block;
  height: 64px;
  left: 40px;
  position: absolute;
  top: -15px;
  width: 416px;
}
#nav_documentation #slide-out li {
  font: 16px/20px 'ReadexPro-Regular', tahoma, verdana, arial, sans-serif;
  z-index: 9999;
}
#nav_documentation #slide-out li:hover {
  background: #E8F2FF;
  border-radius: 0px 20px 20px 0px;
  max-width: 280px;
}
#nav_documentation #slide-out li a {
  color: #B4C5FF;
  transform: translateX(26px);
  z-index: 9999;
}
#nav_documentation #slide-out li a:hover {
  background: url('../images/nav_sprite.svg') no-repeat;
  background-position: -95px 11px;
  color: #2563EB;
  display: block;
}
@media screen and (max-width: 632px) {
  #nav_documentation {
    display: none;
  }
}
#mobile_container {
  background: #FCFCFF;
  border-radius: 12px 12px 0px 0px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.168);
  padding: 0 19px;
}
#mobile_container .header_mobile {
  align-items: center;
  display: flex;
  height: 56px;
  justify-content: space-between;
}
#mobile_container .header_mobile .mobile {
  background: url("../images/mobile_nav_sprite.svg") no-repeat;
  background-position: 1px 0px;
  display: block;
  height: 28px;
  width: 28px;
}
#mobile_container .header_mobile #mobile_nav {
  background: #001D32 !important;
}
#mobile_container .header_mobile #mobile_nav li {
  margin: 0 16px;
}
#mobile_container .header_mobile #mobile_nav li a {
  color: #B4C5FF;
  padding: 0 0;
}
#mobile_container .header_mobile #mobile_nav li a:hover {
  background: #E8F2FF;
  border-radius: 0px 40px 40px 0px;
  color: #2563EB;
  margin-left: -31px;
  padding-left: 30px;
  position: relative;
  width: 113%;
}
#mobile_container .header_mobile #mobile_nav li a:hover::after {
  background: url("../images/mobile_nav_sprite.svg") no-repeat;
  background-position: -88px 2px;
  content: '';
  display: block;
  height: 28px;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 28px;
}
#mobile_container .header_mobile #mobile_nav li span {
  color: #FFFFFF;
}
#mobile_container .header_mobile form input {
  border-bottom: 0;
  color: #2563EB;
  font: 14px/18px 'ReadexPro-Medium', tahoma, verdana, arial, sans-serif;
}
#mobile_container .header_mobile form ul {
  background: #FCFCFF;
  border-radius: 0px 0px 12px 12px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.168);
  left: 0 !important;
  max-width: 622px;
  position: fixed;
  top: 57px !important;
  width: 100% !important;
}
#mobile_container .header_mobile form ul li {
  border-bottom: 1px solid #E2E2EC;
}
#mobile_container .header_mobile form ul li span {
  color: #757680 !important;
  font: 14px/18px 'ReadexPro-Regular', tahoma, verdana, arial, sans-serif;
}
#mobile_container .header_mobile form ul li span:hover {
  background: transparent !important;
  color: #001D32 !important;
}
#mobile_container .header_mobile form ul li:hover {
  background: transparent !important;
}
#mobile_container .header_mobile form ul li.selected {
  display: none !important;
}
@media screen and (min-width: 633px) {
  #mobile_container {
    display: none;
  }
}
@media screen and (max-width: 632px) {
  #mobile_container {
    display: block;
  }
}
#invite_modal_container .invite_wrapper .modal {
  border-radius: 12px;
  height: 652px;
  max-width: 465px;
  overflow: hidden;
}
#invite_modal_container .invite_wrapper .modal .modal-content {
  position: relative;
}
#invite_modal_container .invite_wrapper .modal .modal-content::after {
  border: 1px solid #DBEAFE;
  content: '';
  display: block;
  left: 0px;
  position: absolute;
  top: 106px;
  width: 465px;
}
#invite_modal_container .invite_wrapper .modal .modal-content h2 {
  color: #0F172A;
  font: 20px/28px 'ReadexPro-Regular', tahoma, verdana, arial, sans-serif;
  margin-bottom: 10px;
}
#invite_modal_container .invite_wrapper .modal .modal-content p {
  color: #A1A1AA;
  font: 12px/11px 'ReadexPro-Regular', tahoma, verdana, arial, sans-serif;
}
#invite_modal_container .invite_wrapper .modal .invite_collab {
  padding: 24px;
}
#invite_modal_container .invite_wrapper .modal .invite_collab .row .input-field {
  max-width: 417px;
  padding: 0px;
  position: relative;
  width: 100%;
}
#invite_modal_container .invite_wrapper .modal .invite_collab .row .input-field .chips {
  align-items: center;
  background-color: #EFF6FF;
  border-bottom: 1px solid #2563EB;
  border-radius: 0px 0px 5px 5px;
  border-width: revert;
  display: flex;
  flex-wrap: wrap;
  padding-left: 10px;
}
#invite_modal_container .invite_wrapper .modal .invite_collab .row .input-field .chips.invalid {
  border-bottom: 1px solid #DA4D4D !important;
}
#invite_modal_container .invite_wrapper .modal .invite_collab .row .input-field .chips.valid {
  border-bottom: 1px solid #2563EB;
  box-shadow: 0 1px 0 0 #2563EB;
}
#invite_modal_container .invite_wrapper .modal .invite_collab .row .input-field .chips i {
  color: transparent;
  position: relative;
}
#invite_modal_container .invite_wrapper .modal .invite_collab .row .input-field .chips i::after {
  background: url("../../assets/images/modal_sprite.svg") no-repeat;
  background-position: -70px 2px;
  content: '';
  display: block;
  height: 28px;
  position: absolute;
  right: -12px;
  top: 4px;
  width: 28px;
}
#invite_modal_container .invite_wrapper .modal .invite_collab .row .input-field .chips input {
  border: none;
  box-shadow: none;
  height: auto;
  z-index: 999;
}
#invite_modal_container .invite_wrapper .modal .invite_collab .row .input-field .chips input.input,
#invite_modal_container .invite_wrapper .modal .invite_collab .row .input-field .chips input.valid,
#invite_modal_container .invite_wrapper .modal .invite_collab .row .input-field .chips input.invalid {
  border-bottom: none !important;
  box-shadow: none;
}
#invite_modal_container .invite_wrapper .modal .invite_collab .row .input-field .chips input::placeholder {
  color: #78716C;
  font: 12px/16px 'ReadexPro-Medium', tahoma, verdana, arial, sans-serif;
}
#invite_modal_container .invite_wrapper .modal .invite_collab .row .input-field .chips .chip {
  background: transparent;
  border: 1px solid #94A3B8;
  color: #0F172A;
}
#invite_modal_container .invite_wrapper .modal .invite_collab .row .input-field .chips.input-field {
  background: #EFF6FF;
  border-radius: 8px 8px 5px 5px;
  padding: 8px;
}
#invite_modal_container .invite_wrapper .modal .invite_collab .row .input-field label {
  color: #78716C;
  font: 16px/16px 'ReadexPro-Medium', tahoma, verdana, arial, sans-serif !important;
  margin: 9px auto;
  top: 21px !important;
}
#invite_modal_container .invite_wrapper .modal .invite_collab .row .input-field label.active {
  color: #78716C;
  top: 30px !important;
}
#invite_modal_container .invite_wrapper .modal .invite_collab .row .input-field .users {
  background: url("../../assets/images/modal_sprite.svg") no-repeat;
  background-position: 1px 0px;
  border: none;
  bottom: 25px;
  cursor: pointer;
  display: block;
  height: 20px;
  position: absolute;
  right: 15px;
  width: 20px;
}
#invite_modal_container .invite_wrapper .modal .invite_collab .row .input-field #add_invite {
  border-radius: 8px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 2px 6px 2px rgba(0, 0, 0, 0.15);
  left: 0 !important;
  margin: -9px auto !important;
  max-height: 350px;
  overflow: auto;
  position: absolute;
  top: auto !important;
  width: 417px !important;
}
#invite_modal_container .invite_wrapper .modal .invite_collab .row .input-field #add_invite li {
  margin: 16px auto;
  padding: 0 24px;
}
#invite_modal_container .invite_wrapper .modal .invite_collab .row .input-field #add_invite li:hover {
  background: transparent;
}
#invite_modal_container .invite_wrapper .modal .invite_collab .row .input-field #add_invite li input[type="checkbox"].choose_users + label {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 8px;
  height: auto;
  width: 369px;
}
#invite_modal_container .invite_wrapper .modal .invite_collab .row .input-field #add_invite li input[type="checkbox"].choose_users + label img {
  position: relative;
}
#invite_modal_container .invite_wrapper .modal .invite_collab .row .input-field #add_invite li input[type="checkbox"].choose_users + label .user_information {
  left: 88px;
  position: absolute;
}
#invite_modal_container .invite_wrapper .modal .invite_collab .row .input-field #add_invite li input[type="checkbox"].choose_users + label .user_information h4 {
  color: #0F172A;
  font: 16px/8px 'ReadexPro-Medium', tahoma, verdana, arial, sans-serif;
}
#invite_modal_container .invite_wrapper .modal .invite_collab .row .input-field #add_invite li input[type="checkbox"].choose_users + label .user_information p {
  color: #A1A1AA;
  font: 12px/6px 'ReadexPro-Regular', tahoma, verdana, arial, sans-serif;
}
#invite_modal_container .invite_wrapper .modal .invite_collab .row .input-field #add_invite li input[type="checkbox"].choose_users + label:hover {
  background: #EFF6FF;
  border-radius: 8px;
}
#invite_modal_container .invite_wrapper .modal .invite_collab .row .input-field #add_invite li input[type="checkbox"].choose_users:checked + label {
  background: #EFF6FF;
  border-radius: 8px;
  border: 2px solid #2563EB;
  box-shadow: 0px 0px 0px 1px #38BDF8;
  height: auto;
  opacity: 1;
  width: 369px;
}
#invite_modal_container .invite_wrapper .modal .invite_collab .dropdown-trigger {
  font: 12px/24px 'ReadexPro-Medium', tahoma, verdana, arial, sans-serif !important;
  color: #A1A1AA !important;
  max-width: 70px !important;
  border-bottom: none !important;
  top: 4px !important;
}
#invite_modal_container .invite_wrapper .modal .invite_collab .dropdown-content {
  left: -30px !important;
}
#invite_modal_container .invite_wrapper .modal .invite_collab .dropdown-content li span span {
  font: 12px/24px 'ReadexPro-Regular', tahoma, verdana, arial, sans-serif !important;
  color: #A1A1AA !important;
}
#invite_modal_container .invite_wrapper .modal .invite_collab h2 {
  color: #0F172A;
  font: 20px/18px 'ReadexPro-Regular', tahoma, verdana, arial, sans-serif;
}
#invite_modal_container .invite_wrapper .modal .invite_collab #with_access_div .invited_users_wrapper {
  display: contents;
  min-height: 268px;
  overflow-x: hidden;
  overflow-y: scroll;
}
#invite_modal_container .invite_wrapper .modal .invite_collab #with_access_div .invited_users_wrapper .invited_user {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
}
#invite_modal_container .invite_wrapper .modal .invite_collab #with_access_div .invited_users_wrapper .invited_user input[type=checkbox] {
  display: none;
}
#invite_modal_container .invite_wrapper .modal .invite_collab #with_access_div .invited_users_wrapper .invited_user select,
#invite_modal_container .invite_wrapper .modal .invite_collab #with_access_div .invited_users_wrapper .invited_user p {
  color: #A1A1AA !important;
  font: 12px/24px 'ReadexPro-Medium', tahoma, verdana, arial, sans-serif;
  margin-left: auto;
}
#invite_modal_container .invite_wrapper .modal .invite_collab #with_access_div .invited_users_wrapper .invited_user .invited_user_info {
  margin-left: 16px;
  position: relative;
}
#invite_modal_container .invite_wrapper .modal .invite_collab #with_access_div .invited_users_wrapper .invited_user .invited_user_info h4 {
  color: #0F172A;
  font: 16px/11px 'ReadexPro-Medium', tahoma, verdana, arial, sans-serif;
}
#invite_modal_container .invite_wrapper .modal .invite_collab #with_access_div .invited_users_wrapper .invited_user .invited_user_info p {
  color: #A1A1AA;
  font: 12px/10px 'ReadexPro-Regular', tahoma, verdana, arial, sans-serif;
  padding: 10px 0;
}
#invite_modal_container .invite_wrapper .modal .invite_collab #with_access_div .invited_users_wrapper .invited_user .select-wrapper {
  margin: -5px 0 0 0;
}
#invite_modal_container .invite_wrapper .modal .invite_collab #with_access_div .invited_users_wrapper .invited_user .invited_user_role {
  color: #7D949D;
  font: 12px/24px 'ReadexPro-Regular', tahoma, verdana, arial, sans-serif;
  position: relative;
  transform: translateX(-18px);
}
#invite_modal_container .invite_wrapper .modal .invite_collab #with_access_div .invited_users_wrapper .invited_user .invited_user_role::after {
  background: url("../../assets/images/modal_sprite.svg") no-repeat;
  background-position: -26px -1px;
  content: '';
  display: block;
  height: 28px;
  position: absolute;
  right: -24px;
  top: 4px;
  width: 28px;
}
#invite_modal_container .invite_wrapper .modal .invite_collab #with_access_div .invited_users_wrapper .invited_user span {
  color: #7D949D;
  font: 12px/24px 'ReadexPro-Regular', tahoma, verdana, arial, sans-serif;
}
#invite_modal_container .invite_wrapper .modal .invite_collab #with_access_div .invited_users_wrapper .invited_user #choose_role li a {
  color: #7D949D;
  font: 12px/24px 'ReadexPro-Regular', tahoma, verdana, arial, sans-serif;
}
#invite_modal_container .invite_wrapper .modal .invite_collab .empty_search_wrapper .no_result {
  position: relative;
}
#invite_modal_container .invite_wrapper .modal .invite_collab .empty_search_wrapper .no_result::before {
  animation: gradient 2s ease infinite;
  background: linear-gradient(-45deg, #ffffff, #e5e5e5) no-repeat;
  background-size: 400% 400%;
  border-radius: 8px;
  content: '';
  display: block;
  height: 200px;
  position: absolute;
  top: 75px;
  width: 420px;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
#invite_modal_container .invite_wrapper .modal .invite_collab .empty_search_wrapper .no_result p {
  color: #78716C;
  font: 16px/24px 'ReadexPro-Regular', tahoma, verdana, arial, sans-serif;
  position: absolute;
  text-align: center;
  z-index: 999;
}
#invite_modal_container .invite_wrapper .modal .invite_collab .empty_search_wrapper .no_result img {
  margin: 69px auto;
  opacity: 0.5;
  position: inherit;
  z-index: 999;
}
#invite_modal_container .invite_wrapper .modal .cta_done {
  bottom: 13px;
  position: absolute;
  right: 18px;
}
#invite_modal_container .invite_wrapper .modal .cta_done a {
  border-radius: 20px;
  border: 1px solid #2563EB;
  color: #2563EB;
  padding: 8px 16px;
  font: 16px/19px 'ReadexPro-Regular', tahoma, verdana, arial, sans-serif;
}
#wrapper {
  z-index: 1000;
}
.row_placeholder {
  flex-grow: 1;
}
.checkbox_label {
  display: flex;
}
.checkbox_label * {
  cursor: pointer;
  vertical-align: middle;
}
.checkbox_label input[type="checkbox"] {
  display: none;
}
.checkbox_label input[type="checkbox"]:checked + .checkbox_marker {
  background: #2563EB;
  text-align: center;
}
.checkbox_label input[type="checkbox"]:checked + .checkbox_marker::before {
  line-height: 14px;
  content: '\2713';
  display: block !important;
  color: #FFFFFF;
  font-size: 16px;
  -ms-transform: rotate(9deg);
  /* IE 9 */
  -webkit-transform: rotate(9deg);
  /* Chrome, Safari, Opera */
  transform: rotate(9deg);
}
.checkbox_label .checkbox_marker {
  display: block;
  border-radius: 2px;
  border: 1px solid #757680;
  height: 18px !important;
  margin-right: 10px;
  padding: 0px !important;
  width: 18px !important;
  display: inline-block;
  user-select: none;
}
.checkbox_label .checkbox_marker::before,
.checkbox_label .checkbox_marker::after {
  display: none !important;
}
.checkbox_label .checkbox_text {
  flex-grow: 1;
  font: 16px/20px 'ReadexPro-Regular', tahoma, verdana, arial, sans-serif;
  color: #1E293B;
}
.confirm_action_modal {
  padding: 10px 0px;
}
#confirmation_modal .modal,
#confirmation_modal_private .modal,
.confirm_action_modal .modal {
  border-radius: 8px;
  flex-direction: column;
  max-width: 343px;
  min-height: 194px;
  overflow: hidden;
  width: 100%;
  z-index: 10003 !important;
}
#confirmation_modal .modal.show,
#confirmation_modal_private .modal.show,
.confirm_action_modal .modal.show {
  display: flex !important;
}
#confirmation_modal .modal + .modal-overlay,
#confirmation_modal_private .modal + .modal-overlay,
.confirm_action_modal .modal + .modal-overlay {
  z-index: 10002 !important;
}
#confirmation_modal .modal .modal-content,
#confirmation_modal_private .modal .modal-content,
.confirm_action_modal .modal .modal-content {
  flex-grow: 1;
  padding: 14px 24px;
}
#confirmation_modal .modal .modal-content h4,
#confirmation_modal_private .modal .modal-content h4,
.confirm_action_modal .modal .modal-content h4 {
  color: #0F172A;
  font: 20px/32px 'ReadexPro-Regular', tahoma, verdana, arial, sans-serif;
}
#confirmation_modal .modal .modal-content p,
#confirmation_modal_private .modal .modal-content p,
.confirm_action_modal .modal .modal-content p {
  color: #6C7177;
  font: 16px/24px 'ReadexPro-Regular', tahoma, verdana, arial, sans-serif;
}
#confirmation_modal .modal .modal-footer,
#confirmation_modal_private .modal .modal-footer,
.confirm_action_modal .modal .modal-footer {
  height: auto;
  padding: 0px 24px 24px;
}
#confirmation_modal .modal .modal-footer a,
#confirmation_modal_private .modal .modal-footer a,
.confirm_action_modal .modal .modal-footer a,
#confirmation_modal .modal .modal-footer button,
#confirmation_modal_private .modal .modal-footer button,
.confirm_action_modal .modal .modal-footer button {
  margin: 0;
}
#confirmation_modal .modal .modal-footer .no_btn,
#confirmation_modal_private .modal .modal-footer .no_btn,
.confirm_action_modal .modal .modal-footer .no_btn {
  color: #DA4D4D;
  font: 16px/36px 'ReadexPro-Regular', tahoma, verdana, arial, sans-serif;
  text-transform: none !important;
}
#confirmation_modal .modal .modal-footer .yes_btn,
#confirmation_modal_private .modal .modal-footer .yes_btn,
.confirm_action_modal .modal .modal-footer .yes_btn {
  border: 1px solid #2563EB;
  border-radius: 20px;
  color: #2563EB;
  font: 16px/24px 'ReadexPro-Regular', tahoma, verdana, arial, sans-serif;
  padding: 5px 16px;
  text-transform: none !important;
}
body::-webkit-scrollbar {
  background-color: #EFF6FF;
  border-radius: 10px;
  width: 10px;
}
body::-webkit-scrollbar-thumb {
  background-color: #DBEAFE;
  border-radius: 10px;
  width: 10px;
}
@keyframes slideSwipeLeft {
  0% {
    opacity: 0;
    transform: translateX(10%);
  }
  80% {
    transform: translateX(0%);
  }
  100% {
    opacity: 1;
  }
}
@font-face {
  font-family: 'ReadexPro-Bold';
  src: url('../fonts/ReadexPro-Bold.ttf');
}
@font-face {
  font-family: 'ReadexPro-Medium';
  src: url('../fonts/ReadexPro-Medium.ttf');
}
@font-face {
  font-family: 'ReadexPro-Regular';
  src: url('../fonts/ReadexPro-Regular.ttf');
}
@font-face {
  font-family: 'ReadexPro-Light';
  src: url('../fonts/ReadexPro-Light.ttf');
}
#mobile_container {
  background: #FCFCFF;
  border-radius: 38px !important;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.168);
  padding: 0 19px;
  margin: 16px !important;
}
#select_section_form {
  display: none !important;
}
.header_mobile {
  height: initial !important;
}
.header_mobile .mobile {
  height: 22px !important;
}
.mobile_search_form {
  flex-grow: 1;
}
.mobile_search_form ~ img {
  height: 24px;
  width: 24px;
}
.mobile_search_form .mobile_search_field {
  box-shadow: none !important;
  color: #0F172A !important;
  font: 12px/40px 'ReadexPro-Regular', tahoma, verdana, arial, sans-serif;
  height: 40px !important;
  line-height: 40px !important;
  margin: 0px !important;
  outline: none !important;
}
.mobile_search_form .mobile_search_field::placeholder {
  color: #0F172A;
  font: 12px/40px 'ReadexPro-Regular', tahoma, verdana, arial, sans-serif;
}
::-webkit-scrollbar {
  display: none;
}
#search_section_form {
  display: none !important;
}
.user .container {
  background-color: #FFFFFF;
  border-radius: 12px;
  margin: 24px auto 0 !important;
  max-width: 1024px !important;
  padding: 32px 24px 32px;
  width: 1024px;
  position: relative;
  width: 1024px !important;
}
.user .container #doc_form {
  align-items: center;
  display: flex;
  margin-bottom: 48px;
}
.user .container #doc_form .group_add_documentation {
  background-color: #EFF6FF;
  border-radius: 8px;
  height: 56px;
  margin: 0;
  position: relative;
  width: 316px;
}
.user .container #doc_form .group_add_documentation::before {
  background: url('https://village88.s3.us-east-1.amazonaws.com/boomyeah_v2/docs_page_sprite.svg') no-repeat -12px -4px;
  content: "";
  display: inline-block;
  height: 18px;
  position: absolute;
  right: 12px;
  top: 22px;
  width: 18px;
  z-index: 1;
}
.user .container #doc_form .group_add_documentation::after {
  background-color: #EFF6FF;
  content: '';
  display: inline-block;
  height: 2px;
  position: absolute;
  top: 52px;
  width: 100%;
}
.user .container #doc_form .group_add_documentation label {
  color: #78716C;
  font: 16px/35px 'ReadexPro-Regular', tahoma, verdana, arial, sans-serif;
  padding-left: 12px;
}
.user .container #doc_form .group_add_documentation input {
  padding-left: 11px;
  border-radius: 4px;
  bottom: 0;
  color: #0F172A;
  font: 16px/24px 'ReadexPro-Regular', tahoma, verdana, arial, sans-serif;
  height: 43px;
  position: absolute;
  width: 100%;
}
.user .container #doc_form .group_add_documentation input:-internal-autofill-selected {
  background-color: #EFF6FF;
}
.user .container #doc_form .group_add_documentation input.valid,
.user .container #doc_form .group_add_documentation input.validate {
  background-color: #EFF6FF;
  border-bottom: 2px solid #2563EB;
  box-shadow: 0 1px 0 0 #2563EB;
}
.user .container #doc_form .group_add_documentation label.active {
  color: #2563EB;
  line-height: 16px;
  transform: translateY(6px) scale(0.8);
}
.user .container #doc_form #input_add_documentation {
  margin-bottom: 0;
  width: 304px;
}
.user .container #doc_form #save_status {
  color: #B5C4E4;
  font: 14px/20px 'ReadexPro-Medium', tahoma, verdana, arial, sans-serif;
  margin-left: 21px;
  vertical-align: super;
}
.user .container #docs_view_btn {
  background-color: transparent;
  border: none;
  color: #0F172A;
  font: 20px/24px 'ReadexPro-Regular', tahoma, verdana, arial, sans-serif;
  margin-bottom: 26px;
}
.user .container #docs_view_list {
  border-radius: 4px;
  width: 209px;
}
.user .container #docs_view_list .divider {
  background-color: #EFF6FF;
}
.user .container #docs_view_list li:hover {
  background-color: #BDDAFF;
}
.user .container #docs_view_list a {
  color: #0F172A;
  font: 16px/24px 'ReadexPro-Medium', tahoma, verdana, arial, sans-serif;
}
.user .container #documentations {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
}
.user .container #documentations .document_block {
  align-items: center;
  background-color: #EFF6FF;
  border-radius: 8px;
  border: 1px solid transparent;
  cursor: pointer;
  display: flex;
  height: 83px;
  justify-content: space-between;
  padding: 20px 23px 20px 16px;
  transition: all 0.21s ease-in-out;
  width: 316px;
}
.user .container #documentations .document_block.hidden {
  display: none !important;
}
.user .container #documentations .document_block .document_details h2 {
  color: #0F172A;
  font: 12px/16px 'ReadexPro-Regular', tahoma, verdana, arial, sans-serif;
  margin: 0;
}
.user .container #documentations .document_block .document_details .invite_collaborators_btn {
  background-color: transparent;
  border: none;
  color: #94A3B8;
  font: 12px/16px 'ReadexPro-Regular', tahoma, verdana, arial, sans-serif;
}
.user .container #documentations .document_block .document_details .invite_collaborators_btn::before {
  background: url(https://village88.s3.us-east-1.amazonaws.com/boomyeah_v2/docs_page_sprite.svg) no-repeat -207px -9px;
  content: '';
  display: inline-block;
  height: 12.67px;
  width: 16px;
}
.user .container #documentations .document_block .document_controls {
  align-items: center;
  display: flex;
  font-size: 0;
}
.user .container #documentations .document_block .document_controls .access_btn {
  background: url('https://village88.s3.us-east-1.amazonaws.com/boomyeah_v2/docs_page_sprite.svg') no-repeat -150px -3px;
  border: 0;
  content: '';
  cursor: pointer;
  display: inline-block;
  height: 20px;
  width: 17px;
}
.user .container #documentations .document_block .document_controls .more_action_btn {
  background: url('https://village88.s3.us-east-1.amazonaws.com/boomyeah_v2/docs_page_sprite.svg') no-repeat -65px -9px;
  border: 0;
  color: transparent;
  content: '';
  cursor: pointer;
  display: inline-block;
  height: 14px;
  padding: 2px;
  width: 4px;
}
.user .container #documentations .document_block .document_controls #more_action_list_public,
.user .container #documentations .document_block .document_controls #more_action_list_private {
  border-radius: 4px;
  width: 192px !important;
}
.user .container #documentations .document_block .document_controls #more_action_list_public .divider,
.user .container #documentations .document_block .document_controls #more_action_list_private .divider {
  background-color: #EFF6FF;
}
.user .container #documentations .document_block .document_controls #more_action_list_public li:hover,
.user .container #documentations .document_block .document_controls #more_action_list_private li:hover {
  background-color: #BDDAFF;
}
.user .container #documentations .document_block .document_controls #more_action_list_public a,
.user .container #documentations .document_block .document_controls #more_action_list_private a {
  color: #94A3B8;
  font: 16px/24px 'ReadexPro-Regular', tahoma, verdana, arial, sans-serif;
}
.user .container #documentations .document_block .document_controls #more_action_list_public a::before,
.user .container #documentations .document_block .document_controls #more_action_list_private a::before {
  background: url('https://village88.s3.us-east-1.amazonaws.com/boomyeah_v2/docs_page_sprite.svg') no-repeat;
  content: "";
  display: inline-block;
  height: 18px;
  margin-right: 16px;
  position: relative;
  vertical-align: text-bottom;
  width: 18px;
}
.user .container #documentations .document_block .document_controls #more_action_list_public a.edit_title_icon::before,
.user .container #documentations .document_block .document_controls #more_action_list_private a.edit_title_icon::before {
  background-position: -70px -4px;
}
.user .container #documentations .document_block .document_controls #more_action_list_public a.duplicate_icon::before,
.user .container #documentations .document_block .document_controls #more_action_list_private a.duplicate_icon::before {
  background-position: -90px 0;
  height: 22px;
  width: 19px;
}
.user .container #documentations .document_block .document_controls #more_action_list_public a.archive_icon::before,
.user .container #documentations .document_block .document_controls #more_action_list_private a.archive_icon::before {
  background-position: -111px -4px;
}
.user .container #documentations .document_block .document_controls #more_action_list_public a.invite_icon::before,
.user .container #documentations .document_block .document_controls #more_action_list_private a.invite_icon::before {
  background-position: -131px -7px;
  height: 15px;
  width: 18px;
}
.user .container #documentations .document_block .document_controls #more_action_list_public a.set_to_private_icon::before,
.user .container #documentations .document_block .document_controls #more_action_list_private a.set_to_private_icon::before {
  background-position: -151px -3px;
  height: 19px;
  width: 16px;
}
.user .container #documentations .document_block .document_controls #more_action_list_public a.set_to_public_icon::before,
.user .container #documentations .document_block .document_controls #more_action_list_private a.set_to_public_icon::before {
  background-position: -185px -2px;
  height: 20px;
  width: 20px;
}
.user .container #documentations .document_block .document_controls #more_action_list_public a.remove_icon::before,
.user .container #documentations .document_block .document_controls #more_action_list_private a.remove_icon::before {
  background-position: -169px -4px;
  height: 18px;
  width: 14px;
}
.user .container #documentations .document_block:hover {
  border: 1px solid #2563EB;
}
.user .container #documentations .no_documents {
  width: 100%;
  text-align: center;
  margin: 41px 0 410px;
}
.user .container #documentations .no_documents img {
  margin-bottom: 9px;
}
.user .container #documentations .no_documents p {
  font: 16px/24px 'ReadexPro-Regular', tahoma, verdana, arial, sans-serif;
  color: #B5C4E4;
}
@media only screen and (max-width: 1215px) {
  .user {
    padding: 0 30px 0 100px;
  }
  .user #user_doc {
    max-width: 696px !important;
    width: 100% !important;
  }
}
@media only screen and (max-width: 823px) {
  .user #user_doc #documentations {
    gap: 8px;
  }
  .user #user_doc #documentations .document_block {
    max-width: 100% !important;
    width: 100% !important;
  }
}
@media only screen and (max-width: 623px) {
  .user {
    padding: 0 10px;
  }
}
@media only screen and (min-width: 993px) {
  #user_doc {
    width: 100% !important;
  }
}
@media only screen and (min-width: 601px) {
  #user_doc {
    width: 100% !important;
  }
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 30px #EFF6FF inset !important;
  -webkit-text-fill-color: #0F172A !important;
  transition: background-color 5000s ease-in-out 0s;
}
