@font-face {
  font-family: 'ReadexPro-Bold';
  src: url('../fonts/ReadexPro-Bold.ttf');
}
@font-face {
  font-family: 'ReadexPro-Medium';
  src: url('../fonts/ReadexPro-Medium.ttf');
}
@font-face {
  font-family: 'ReadexPro-Regular';
  src: url('../fonts/ReadexPro-Regular.ttf');
}
@font-face {
  font-family: 'ReadexPro-Light';
  src: url('../fonts/ReadexPro-Light.ttf');
}
#mobile_container {
  background: #fcfcff;
  border-radius: 38px !important;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.168);
  padding: 0 19px;
  margin: 16px !important;
}
#select_section_form {
  display: none !important;
}
.header_mobile {
  height: initial !important;
}
.header_mobile .mobile {
  height: 22px !important;
}
.mobile_search_form {
  flex-grow: 1;
}
.mobile_search_form ~ img {
  height: 24px;
  width: 24px;
}
.mobile_search_form .mobile_search_field {
  box-shadow: none !important;
  color: #0f172a !important;
  font: 12px/40px 'ReadexPro-Regular', tahoma, verdana, arial, sans-serif;
  height: 40px !important;
  line-height: 40px !important;
  margin: 0px !important;
  outline: none !important;
}
.mobile_search_form .mobile_search_field::placeholder {
  color: #0f172a;
  font: 12px/40px 'ReadexPro-Regular', tahoma, verdana, arial, sans-serif;
}
