@font-face {
  font-family: 'ReadexPro-Bold';
  src: url('../fonts/ReadexPro-Bold.ttf');
}
@font-face {
  font-family: 'ReadexPro-Medium';
  src: url('../fonts/ReadexPro-Medium.ttf');
}
@font-face {
  font-family: 'ReadexPro-Regular';
  src: url('../fonts/ReadexPro-Regular.ttf');
}
